[2017-05-30 18:22] yanokwa opened #1 "Add a LICENSE.md to the docs repo"
What we've historically used (e.g., for governance) is [Attribution-ShareAlike 4.0 International](https://creativecommons.org/licenses/by-sa/4.0/) (CC BY-SA 4.0), but I don't think we want to force virality. Our code is Apache 2 and our docs should be Apache 2 like. For that reason, I think the license should be [Attribution 4.0 International](https://creativecommons.org/licenses/by/4.0/) (CC BY 4

[2017-05-31 17:35] adammichaelwood commented on #1
I agree with CC BY 4.0

[2017-05-31 17:43] adammichaelwood commented on #1
Done

[2017-05-31 17:43] #1 closed

[2017-05-31 17:45] adammichaelwood opened #2 "License in docs"
CC BY 4.0, to display in footer of docs output

[2017-06-01 01:06] lognaturel opened #3 "Using offline map tiles"
This isn't currently documented anywhere.

opendatakit/opendatakit#1260 is the original issue filed by @florianm and includes a link to a basic description [here](https://github.com/opendatakit/collect/pull/1045#issuecomment-305356422).

[2017-06-01 01:12] lognaturel opened #4 "Describe all intents"
@rishsethia put together some docs about using Collect's [Intents](https://developer.android.com/guide/components/intents-filters.html) at opendatakit/collect#74 that need a place to be!

[2017-06-01 01:16] lognaturel opened #5 "Describe how loading external settings works"
opendatakit/collect#456

[2017-06-01 16:23] lognaturel opened #6 "Document navigation setting"
We've been hearing about groups that use ODK to survey the general population. They'll do things like hand tablets around rather than using trained enumerators. One challenge they face is that people don't know to swipe between questions. It seems they should probably be using the "use swipes and buttons" navigation setting.

It would of course be helpful to have documentation on all the settings.

[2017-06-02 18:07] lognaturel opened #7 "pyxform: describe how to get the command-line tool"
`pyxform` is used as an underlying library in several form-conversion tools.

For some people, the command-line tool can be convenient and it's easy to install with `pip install pyxform`.

https://github.com/XLSForm/pyxform

[2017-06-09 22:29] shobhitagarwal1612 opened #8 "Collect development : images in QuestionWidgets"
If we want to use `imageView`, `imageButton` in Widgets then we should avoid adding the image to the `xml` layout. The image should be added dynamically using `setBackgroundResource()` so that the garbage collector can recycle the bitmaps and prevent the activity from crashing (caused while trying to use a recycled bitmap).

[2017-06-19 03:49] lognaturel opened #9 "Include OpenRosa documentation"
https://bitbucket.org/javarosa/javarosa/wiki/OpenRosaAPI -- some of this is obsolete but most of it is still applicable to [ODK JavaRosa](https://github.com/opendatakit/javarosa) which powers Collect. It also describes the interaction between servers and clients in the ecosystem. This is only relevant to developers.

The form specification has already been pulled out to https://github.com/opendata

[2017-06-21 21:39] yanokwa opened #10 "Pull in docs from community sources"
For each of these, we need to first ask permission!
- [x] https://www.google.com/earth/outreach/learn
- [x] http://sudan.validmeasures.org/category/open-data-kit
- [x] http://opendatakit.lshtm.ac.uk/what-do-i-need
- [x] http://odk.acf-e.org/odk/start_here.html
- [ ] https://opendatakit.org/help/training-guides (lots o links here)

[2017-06-22 19:28] matthew-white opened #11 "Mention expected 400 errors from "Upload ODK Aggregate""
Step 17 of the instructions for [installing Aggregate on App Engine (Cloud)](https://opendatakit.org/use/aggregate/#Installing_an_App_Engine_Instance) reads:

This will spew a very long list of progress messages into the Output window. The `listBackends :` and `deleteBackendBackground :` sections may report "500 Internal Server Error" and Severe errors, and Warnings about the use of Backends, a de

[2017-06-23 20:01] arahayrabedian opened #12 "A brief history of ODK subprojects"
Jumping in to opendatakit in order to build a few things for aggregate and collect I've been struggling with the context of everything.

A few things are in a state of ownership flux, moving (to my understanding) from University of Washington 'ownership' to community driven. A lot of this knowledge is not easy to come by for newcomers - a prime example is Javarosa*, which has one retired-ish versi

[2017-06-26 19:12] lognaturel opened #13 "How to push forms to a phone from a Windows PC"
Very useful forum post: https://forum.opendatakit.org/t/pushing-pulling-forms-to-from-android-devices-directly-from-a-pc/7016

[2017-06-27 16:29] lognaturel opened #14 "Blank values sent to gsheets result in cell with a space"
See https://forum.opendatakit.org/t/space-written-to-empty-sheets-cells/7002

As mentioned, downstream analysis tools can trim cell values or structure their empty test as "either the cell is empty or includes a single space."

[2017-06-27 19:44] lognaturel opened #15 "Bulk configuration through QR codes"
https://github.com/opendatakit/collect/issues/781

https://opendatakit.org/2017/06/configure-collect-on-many-devices-with-qr-codes/

[2017-07-03 23:05] lognaturel commented on #15
Also document the structure of the QR code for people who want to generate them programmatically - https://forum.opendatakit.org/t/create-my-own-qr-code/7158/2?u=ln

[2017-07-04 00:53] matthew-white opened #17 "Differences between Aggregate and Briefcase"
The practical difference between Aggregate and Briefcase is often clear — for example, many features are available in one but not the other — but I've struggled with the conceptual difference. Where does Aggregate end and Briefcase begin? For example, when do you export data from Aggregate vs. export from Briefcase?

I discussed with Yaw and Hélène, who described the following differences and sugg

[2017-07-06 18:37] mitchellsundt commented on #12
The CONFIGURE.md and other documentation has information on building the system.

The maven build is the official build for the installer images. You should follow those instructions to ensure a fully successful standard build.

Active development had been on the uiexperiment branch.  At this point, master, v1_4, and uiexperiment are all at the tip, which is now using the opendatakit.javarosa-2.2.

[2017-07-10 23:38] lognaturel opened #18 "Document advanced use of external apps"
Custom error messages and `field-list`s -- opendatakit/collect#129 and <strike>https://opendatakit.org/help/form-design/external-apps/</strike> (done)

[2017-07-18 16:50] adammichaelwood opened #19 "Getting Started Guide"

[2017-07-18 16:51] adammichaelwood opened #20 "Form Design Guide"
https://opendatakit.org/help/form-design/
and especially this:
 https://opendatakit.org/help/form-design/examples/

But with Excel-based on examples as well as XML,
and links to the spec., etc.

[2017-07-19 11:34] ronna opened #22 "Contributor Guide"
We need to come up with guides. I am thinking of:

1. Contributing Guide
example:
https://github.com/rackerlabs/rackspace-how-to/blob/master/CONTRIBUTING.md

2. Style Guide
examples:
https://github.com/rackerlabs/rackspace-how-to/blob/master/style-guidelines.md
http://help.apple.com/asg/mac/2017/
https://developers.google.com/style/

[2017-07-19 11:38] ronna commented on #20
@adammichaelwood
we could borrow or reference the Nafundi form design tips
https://nafundi.com/blog/posts/odk-form-design-tips-that-improve-data-quality/
https://gumroad.com/l/odk-form-design-tips

We can also include the "All Widgets" form as an example

[2017-07-20 17:09] lognaturel opened #23 "Area function"
It's not well-known and I'm not finding any documentation.

https://forum.opendatakit.org/t/measureheigt-area/9128/5

@adammichaelwood I'm not really sure how to tag this one. Perhaps there should be a form design label?

[2017-07-20 17:12] lognaturel commented on #22
That brings up an interesting question about where different kinds of docs should live. Currently each different tool has its own contribution and style guides. They're each tailored to the particular language and context of the tool. For example, [Collect contributions](https://github.com/opendatakit/collect#contributing-code) and [Collect style](https://github.com/opendatakit/collect/blob/master

[2017-07-20 17:19] adammichaelwood commented on #22
Is @ronna saying we need contributor guides for docs or for development?

If docs -- yes, I agree. It's on my short list.

If development -- yes, I agree. But I think those should probably be in a contributing.md file on each repo, with maybe a general guide to code contributions as part of this one.

[2017-07-20 17:28] lognaturel commented on #20
@yanokwa and I are happy for those design tips to be modified however is appropriate to become part of official docs.

[2017-07-21 06:15] ronna commented on #22
@adammichaelwood I am referring to contributor guides for docs, sorry I linked to developer Style guides, I did not have much time to dig and look up documentation style guides.

[2017-07-21 07:02] ronna commented on #22
something more or less like this: https://github.com/openshift/openshift-docs/tree/master/contributing_to_docs

[2017-07-21 17:48] lognaturel opened #24 "Calculates are evaluated even when not relevant"
https://forum.opendatakit.org/t/odk-collect-calculate-fires-even-when-not-relevant/8923 This is somewhat unexpected behavior so it should be explicitly called out.

[2017-07-21 19:44] lognaturel opened #25 "Briefcase "use parallel connections" feature and when it might be helpful/harmful"
opendatakit/briefcase#142

[2017-07-21 23:16] lognaturel opened #26 "Document Aggregate limitations"
Some good ones on this issue - https://github.com/opendatakit/briefcase/pull/142#issuecomment-315474501 and I'm sure there are more on the dev wiki

[2017-07-22 08:14] ronna opened #27 "Document how to use Briefcase to pull forms directly from device"
How to pull forms directly from the device and its limitations not documented:
https://forum.opendatakit.org/t/export-data-from-mobile/9126

[2017-07-22 08:33] ronna opened #28 "Training videos"
curate a list of ODK training videos as per @yanokwa suggestion here: https://forum.opendatakit.org/t/odk-learning-videos/9155/3

[2017-07-25 17:41] yanokwa opened #29 "Setup CircleCI to publish to S3"
- [x] Commit from @adammichaelwood with command to build locally
- [x] Add circle.yml file to build master and pull requests
- [x] Add badge to readme.md to indicate build status
- [x] Add reporting to Slack #docs-pulse for failed builds
- [x] Setup S3 bucket to hold docs
- [x] Setup DNS, Cloudfront for https://docs.opendatakit.org
- [x] Add keys to CircleCI to automatically upload docs to bucket

[2017-07-25 19:46] yanokwa commented on #29
@adammichaelwood Whenever you are ready, please update the issue with the command I can use to build the docs and spit out HTML into a folder. Once I have that, I'll be able to implement it in CircleCI.

[2017-07-27 18:07] #19 closed

[2017-07-27 18:14] adammichaelwood commented on #29
More detail will be in the Contributor Guide, but for now:

 - use python 3
 - once: `pip install -r requirements.txt`
 - build: `sphinx-build -b html [path/to/repo] [path/to/output]

 (so, I do: `sphinx-build-b html . build`  -- and `/build/` dir is gitignored

Note: the `-b` flag specifies the builder, which  is `html` for a website

[2017-07-27 18:24] adammichaelwood commented on #29
(Note, for anyone else reading this... if you are running the build command in a local machine or otherwise anywhere outside of an ad hoc container... you should probably use a python virtual environment. There will be details about this in the Contributor Guide, in the docs.)

[2017-07-28 05:25] ronna opened #35 "Seperate docs folder for each ODK tool"
@adammichaelwood I propose that we have a folder for each ODK tool/component and keep the docs for the specific tool in that folder. Most if not all tools might have the same structure and it will be very difficult to name the files with the current setup. For example we already have a  getting-started.rst (for Collect), we can not have another getting-started.rst say for ODK build or ODK Aggregat

[2017-07-28 15:09] yanokwa commented on #29
Alrightly, so the CI server now builds on every commit and per-commit builds can be found on CircleCI at https://circleci.com. Login with your GitHub account, click the commit you'd like to see, then find the build folder with the HTML in the Artifacts tab.

[2017-07-28 16:08] lognaturel opened #38 "Document range widget"
What it looks like in Collect, the different appearances, how to generate one in Build or XLSForm.

https://github.com/opendatakit/collect/issues/105

[2017-07-31 01:40] yanokwa commented on #29
@adammichaelwood Merges to master now build immediately to a static site on S3 (http://docs.opendatakit.org.s3-website-us-west-2.amazonaws.com) and eventually that build makes it to a Cloudfront (CDN) that https://docs.opendatakit.org is pointed to.

[2017-07-31 01:40] yanokwa commented on #29
Closed by #45.

[2017-07-31 01:40] #29 closed

[2017-08-02 19:40] adammichaelwood opened #46 "Add and document the javasphinx java domain"
(Also, make sure it even works.)

https://bronto.github.io/javasphinx/

[2017-08-03 00:05] adammichaelwood opened #47 "Downloadable files"
Where (and whether) to put them in the docs.
And then document how to link to them.

[2017-08-03 14:39] #22 closed

[2017-08-03 18:25] adammichaelwood opened #50 "Collect form widgets, with XLSForm and XForm details"
part of #20

essentially this: https://opendatakit.org/help/form-design/examples/
but:
 - add XLSForm details
 - include newer widgets not currently documented
 - better screenshots (?)

[2017-08-03 18:30] lognaturel commented on #50
I'd say "better screenshots (!)" ;)

I do think it would be great to have better screenshots that match the current interface. I find that the best way to take screenshots is [through adb](https://blog.shvetsov.com/2013/02/grab-android-screenshot-to-computer-via.html). It might be good to build a little script or bash alias or something to capture the screen, name it appropriately and pull it to t

[2017-08-03 18:32] adammichaelwood commented on #50
You are so awesome! I was just looking into the best way to do Android screenshots.
Thanks.

[2017-08-03 18:35] lognaturel commented on #50
If you make a script/alias, would be great to have in a contributor guide!

[2017-08-04 01:00] adammichaelwood commented on #50
screenshot scripting now works.

[2017-08-04 19:12] lognaturel opened #54 "Describe admin settings menu and how it's typically used"
opendatakit/collect#1306 - it's not all that clear

This may exist somewhere but I'm not immediately finding it.

[2017-08-06 16:39] lognaturel opened #55 "Add footer with log issue"
I was just perusing Kubernetes docs (as one does) and noticed that they have a handy "Create an issue" button at the bottom of the docs page (example [here](https://kubernetes.io/docs/tutorials/kubernetes-basics/)). I think that might be a nice way to get more people involved. Maybe since the ODK audience is less technical the link can say "there's something missing or wrong on this page" or somet

[2017-08-07 05:48] ronna commented on #55
We can also have a "Was this information helpful?" at the bottom of the page, with an option to send feedback
example [here](https://support.office.com/en-us/article/Office-is-taking-long-to-install-0f09f357-3fef-42a6-b8aa-cef4c6c44bdf?ui=en-US&rs=en-US&ad=US) (right at the bottom of page)

[2017-08-08 00:26] lognaturel opened #56 "Describe how to get bug reports off of Android"
https://developer.android.com/studio/debug/bug-report.html is the ideal for Android 6+

There are also some notes at https://github.com/opendatakit/opendatakit/wiki/Collect-Troubleshooting

[2017-08-08 14:38] ronna opened #57 "Document Aggregate installation"
Document aggregate installation:
https://forum.opendatakit.org/t/odk-aggregate-minimum-requirements-for-supporting-packages-java-tomcat-mysql/9345

Current documentation needs updating:
https://opendatakit.org/use/aggregate/

https://github.com/opendatakit/opendatakit/wiki/Aggregate-AWS-Install

[2017-08-08 14:56] adammichaelwood commented on #57
This would be a great item for you to take on @ronna

[2017-08-08 20:25] adammichaelwood opened #58 "Add Enketo screen shots to Widget guide"
work on a complete widget guide is in progress, but first pass is only ODK Collect screen shots. Add Enketo screen shots would be good too.

[2017-08-08 20:27] adammichaelwood opened #59 "New Template, design fixes"
apply RTD template, and do some other design work

[2017-08-08 20:28] lognaturel commented on #58
My sense is that we should start by only documenting the ODK core tools for now and then we can talk with others in the ecosystem about how they'd like their projects represented and potentially documented.

[2017-08-08 21:01] lognaturel opened #61 "Android-level security recommendations"
For example, if enumerators are able to install apps, they can install camera apps that may let them bypass certain requirements (see [here](https://forum.opendatakit.org/t/disable-choosing-an-image-video-or-audio/9338)).

Another example -- turning on Android-level data encryption means when the device is locked, no one can see the data. It's an easier alternative to using encrypted forms that of

[2017-08-08 22:31] adammichaelwood opened #62 "Add "Was this helpful?" or other feedback mechanism on docs page"
add from @ronna comment on #55:

[2017-08-08 22:31] adammichaelwood commented on #55
The "Was it helpful" footer needs to be a separate issue (added, #62), as doing this requires additional work beyond adding a link. We'd also need a collection mechanism for that information.

[2017-08-08 22:48] adammichaelwood opened #63 "Automate the form widget guide from a structured XLSForm"
It would be great if someone with Android/Java skills could work with me to create a script (using monkeyrunner, or similar) that would parse an XLSForm and run through the form on a device, taking screenshots and outputting the images and other info into a doc -- (replacing form-widgets.rst)

[2017-08-10 02:11] yanokwa commented on #58
Agreed with @lognaturel and so I'm closing this issue.

[2017-08-10 02:11] #58 closed

[2017-08-16 00:33] #50 closed

[2017-08-16 00:53] yanokwa opened #64 "Reduce the size of PNGs before publishing"
Currently, the images in the repo are large (as far as bits). For example, `_images/annotate-1.png` is 1.7 MB, but running it through [ImageOptim](https://imageoptim.com/) at 80% compression brings it down to 595 KB. Reducing the size of the images makes for much faster loading (important in the areas where ODK is used) and it also saves us money.

An ideal solution to this problem would compress

[2017-08-16 00:57] yanokwa opened #65 "Move binary files to GLFS"
We currently store images and videos directly inside the docs repo. This causes the size of the repo to grow quickly and makes for slow cloning and fetching.

I think we should move these files to [Git LFS](https://git-lfs.github.com/) so we can store binary files at a high resolution, but be able to pull and compress them (e.g., https://github.com/opendatakit/docs/issues/64) at publication time.

[2017-08-16 01:00] yanokwa opened #66 "Video sphinx directive"
Currently, images get stored at `img`, but videos are stored at `_static/vid` and it's not clear why. Unless there is a good reason, we should standardize on the location.

[2017-08-16 01:17] yanokwa commented on #66
This is likely related to the appearance of a `build/_images` folder when Sphinx is run and thus is related to https://github.com/opendatakit/docs/pull/67. Can you offer an explanation, @adammichaelwood?

[2017-08-21 16:52] adammichaelwood commented on #65
This seems like a reasonable idea.

If I read the DLFS docs correctly, this is entirely "plug-n-play" and just requires contributors to install git lfs. Does that seem correct? If so, I guess the only repo change needed is to update the contributor guide with instructions.

Am I missing anything else here?

[2017-08-21 16:54] adammichaelwood commented on #64
So that would just be taken care of on the circleci end, yes?
If we switch to glfs (re: #65 ) contributors don't need to worry about running compression locally.

Yes?

[2017-08-21 17:07] yanokwa commented on #65
You are correct that this just requires contributors to install git lfs.

In addition to updating the contributor guide, with installation instructions, we'll also need to add a `.gitattributes` file that tracks the binary files we use (e.g., png, mp4, jpg, etc). Can you send in a PR?

[2017-08-21 17:18] adammichaelwood commented on #66
The "good reason" is that it is currently the only way to do it.

Sphinx copies images from wherever they are stored to the `/_images` dir as part of the build process. It doesn't copy the entire `/img/` folder -- it copies the image when it finds the `.. image` or `.. figure` directive.

OTOH - the video files are currently in `_static` -- Sphinx copies over the entire `_static` dir on build (it'

[2017-08-21 17:38] adammichaelwood commented on #65
Will do.

[2017-08-21 18:30] yanokwa commented on #66
Thanks for explaining this, Adam.

I don't think it's a good use of time to change the current behavior. Or rather, maybe this is the kind of thing a contributor might want to take on, but it's not a priority for the core team.

[2017-08-21 19:16] yanokwa commented on #64
I'm going to propose a few things.

1. We should run lossless compression on all source images because it is lossless and there's no real reason to have massive source images. This should be done locally and be in the contribution guide. We should open a new issue for a tool recommendation for lossless png/jpg and instructions for the contribution guide.

1. On publication, we should run lossy, bu

[2017-08-21 19:48] yanokwa opened #68 "Reduce the size of JPEGs before publishing"
On publication, we should run lossy compression with sane defaults on all jpgs.

I believe the best way to do this is likely to use mozjpeg. We'll likely have to install from source and https://nystudio107.com/blog/installing-mozjpeg-on-ubuntu-16-04-forge is a decent guide.

[2017-08-21 20:02] yanokwa opened #69 "Use lossless compression on all source images"
Per this discussion at https://github.com/opendatakit/docs/issues/64#issuecomment-323828068, I propose we use run lossless compression on all source images because there's no real reason to have massive source images.

[2017-08-21 20:03] adammichaelwood commented on #65
So I just spent some time getting this going. In addition to installing glfs locally, you also have to remove all your existing files from your entire commit history (`filter-branch`) and recommit them. (cf. https://help.github.com/articles/moving-a-file-in-your-repository-to-git-large-file-storage/ )

The upshot of this is that my `master` is diverged from `odk:master` all the way back to the fir

[2017-08-21 20:05] yanokwa commented on #65
To confirm, there is no way to keep the existing binary files in the repo and use Git LFS going forward?

[2017-08-21 20:17] adammichaelwood commented on #65
Well - we could keep them in the repo and then only track new binary files in glfs.
But apparently you cannot track existing files without removing them from the whole repo.
(There are a number of pages and tutorials on this point, and at least one dedicated Java tool for handling the migration to GLFS.)

So - I guess we could just move forward with new files and orphan the 113 existing media file

[2017-08-21 20:23] #64 closed

[2017-08-21 20:44] yanokwa commented on #65
I'm comfortable having the four of us having to reclone, but I'd like @lognaturel to confirm that she thinks this is a good idea.

I'd also propose that I make those changes. That is, @adammichaelwood will send me the commands, I'll try them out and confirm they work and then I'll do the force push.

[2017-08-21 20:50] adammichaelwood commented on #65
okay, well -- i feel kinda dumb for not trying this earlier -- AND -- i don't know why no one else has done this, but:

Based on some experimenting, if i simply:

- delete relevant files
- commit
- add files back in
- commit

Then the newly committed files ARE tracked by GLFS, as shown by running `git lfs ls-files`

This tells me that all the rebasing and recloning and filter branching described i

[2017-08-22 00:44] lognaturel opened #73 "Build some kind of mental model for external data"
There's https://opendatakit.org/help/form-design/external-itemsets/ and https://opendatakit.org/help/form-design/data-preloading/ which have some overlap in functionality. To make matters more fun, there's now https://opendatakit.github.io/xforms-spec/#secondary-instances---external.

Would be helpful to have a section about using external data sets that describes these different options, what the

[2017-08-22 18:37] yanokwa opened #75 "Describe how to use lossless compression on source images"
In the contribution guide, we should describe how to use ImageOptim (or pngout for pngs and mozjpeg for jpgs) to do lossless compression on images.

[2017-08-22 18:40] yanokwa opened #77 "Replace select-search-start.png with valid PNG"
The build is broken because select-search-start.png is not a valid PNG. It should be replaced with one that works.

[2017-08-22 19:28] #69 closed

[2017-08-22 19:41] yanokwa opened #78 "Add Google Analytics to published website"
It'd be nice to know the traffic on the docs website. Hopefully, there is a way to add this in some header template.

[code]

[2017-08-22 19:42] #65 closed

[2017-08-22 19:42] adammichaelwood commented on #78
for sure. will do this when working on #59

[2017-08-22 20:55] adammichaelwood opened #80 "Display Sphinx build warnings from CircleCI in PRs"
Most of the things we'd want to catch in a Sphinx build show up as warnings, not errors. (Broken links, bad rst syntax etc.)

If there is a way to surface that info into the PR, that would be awesome. (There's been a few builds already that I know had build warnings and got an "all checks passed" notice in the PR.)

[2017-08-22 21:00] #77 closed

[2017-08-22 21:09] #80 closed

[2017-08-22 22:58] lognaturel opened #85 "Narrative on how to use XPath / XForms functions when building forms"
I think the functions themselves should probably live in the [XForms spec](https://github.com/opendatakit/xforms-spec) but it would be helpful to have a description of where they can be used and a series of examples. I think the section on operators [here](https://opendatakit.org/help/form-design/binding/) can be split up into beefing up what exists in the spec and some examples that would be in t

[2017-08-23 17:02] adammichaelwood opened #86 "Screenshots at reasonable size for viewing"
Screenshots are currently displayed too large for viewing.

[2017-08-23 17:50] adammichaelwood opened #87 "Vid directory like Img directory"
Right now, vids are in `_static/vid` (see #66 for discussion on this point)

The problem with this is that `_static` is *mostly* used for design-specific things (css, js, logo image), not content. Also, as discussed, this makes img and video weirdly different. (And other content, like downloadable xls, pdf, etc. will also end up in `_static` at some point) (cf. #47)

I propose:

 - create new `vid

[2017-08-23 17:58] adammichaelwood opened #88 "Add logo to docs"

[2017-08-23 18:32] adammichaelwood commented on #62
So... what about a comment section?

[2017-08-23 19:23] adammichaelwood opened #89 "Add favicon"

[2017-08-23 21:51] #59 closed

[2017-08-23 21:51] #2 closed

[2017-08-23 21:51] #55 closed

[2017-08-23 21:51] #78 closed

[2017-08-23 21:51] #86 closed

[2017-08-23 21:51] #88 closed

[2017-08-23 21:51] #89 closed

[2017-08-25 18:31] lognaturel opened #91 "Tips on regular expressions"
Regular expressions only apply to strings - https://github.com/opendatakit/javarosa/issues/137

Brief description of what they are; regex101.com is a useful resource

Might be useful to specifically mention phone number validation since that comes up a lot -- https://forum.opendatakit.org/t/want-to-make-restriction-on-entering-more-than-10-digits-mobile-number/9513

[2017-08-29 00:42] adammichaelwood commented on #9
The underlying question here, which requires much discussion, is whether this docs repo should include *developer docs*.

I like writing developer docs, so I'm okay with it. But we should discuss options:

 - Dev docs live in this docs repo
 - A dev docs repo for the whole ODK project, this repo will be user/implementor docs
 - Individual dev docs repos for each project that might need them

I thi

[2017-08-29 03:27] lognaturel opened #92 "Tips for location"
Different phones have different GPSs.

Accuracy and battery can be controlled in Android settings - https://support.google.com/nexus/answer/3467281?hl=en

[2017-08-29 16:55] adammichaelwood opened #93 "Clean up and document bash build script and local serve"
I added `b.sh` a while ago to save keystrokes in terminal, but it if we implement any build steps apart from Sphinx (for example: style checking, spell checking, translation building) this (or a python replacement) will need to become the canonical build script.

[2017-08-29 16:59] adammichaelwood opened #94 "Style Guide testing"
- Find and implement appropriate testing tool (something like https://github.com/amperser/proselint)
- implement and document project-specific style guide (which we can edit with relative ease)
- incorporate into build script (#93)

[2017-08-29 17:04] adammichaelwood opened #95 "Contributor guide additions for Windows"
The contributor's guide assumes a *nix platform. Additional information for Windows people would make the project much more contributor friendly, especially to non-coders and beginners.

I don't know enough about Windows (and especially running Python on Windows) to know what info is needed, but this would be a great project for someone who knows both platforms well enough to "translate".

[2017-08-29 17:21] adammichaelwood opened #96 "Line Edits"
This could be a perpetual issue, never closed.

Typos sneak in, and branch-based editing makes it inconvenient to go chasing them every time you notice them. So...

IF you are:

 - between issues
 - a little too sleepy in the afternoon to think about high-level stuff
 - a new comer looking for something to do

Start a line-edit branch, fix some typos, and submit a small PR.

## Guidelines for line

[2017-08-29 17:30] lognaturel opened #97 "Describe how read-only, constraints and relevants interact"
https://forum.opendatakit.org/t/displaying-a-note-with-a-calculation-result-in-it/9547/9?u=ln

https://forum.opendatakit.org/t/odk-collect-calculate-fires-even-when-not-relevant/8923

[2017-08-29 22:01] adammichaelwood opened #98 "Style generic admonitions"
cf. http://docutils.sourceforge.net/docs/ref/rst/directives.html#admonitions

The theme we are using has built-in styling for all specific admonitions (note, tip, warning, etc.), but the generic admonition is does not follow the others.

Example markup and view:

[code]

![screen shot 2017-08-29 at 2 56 23 pm](https://user-images.githubusercontent.com/1776241/29846108-494a2fc0-8cca-11e7-9319-95fd0

[2017-08-29 23:09] downeym opened #99 "Standard ODK presentations for community members"
It would be nice to adapt the previous ODK community presentation e.g. https://speakerdeck.com/nafundi/a-community-driven-future-for-open-data-kit into an one that could live in a Git repo, with easy collaborative editing, and using something like reveal.js to format it into a nice presentation.

Community members could present this in ODK meetups around the world, and could also fork & add local

[2017-08-29 23:12] adammichaelwood commented on #99
i'm happy to have this live in docs. It could also potentially warrant its own repo.

[2017-08-29 23:38] adammichaelwood opened #100 "Explain adb"
- What it is
 - why use it
 - Where to get it
 - Install hangups not covered by adb's docs
 - where Collect app and data live in Android file system

[2017-08-30 03:55] lognaturel opened #101 "Describe backup strategies for Aggregate"

[2017-08-30 18:42] lognaturel opened #102 "Update screenshots and description for list-nolabel"
http://docs.opendatakit.org/form-widgets/#field-list

The look and feel of label/list-nolabel/list appearances for select_one/select_multiple were changed in v1.8.0 in a way that didn't match their original intended usage.

This was reported at https://forum.opendatakit.org/t/new-list-nolabel-appearance/9255 and fixed for v1.10.0.

The idea with these widgets is that they can be used to build a gr

[2017-08-30 18:58] adammichaelwood commented on #102
This information should also make its way into changes to the the all-widgets form (which should be kept under version control here or in the Collect repo).

[2017-08-30 20:11] lognaturel commented on #102
Currently the set up is that [this](https://docs.google.com/spreadsheets/d/1af_Sl8A_L8_EULbhRLHVl8OclCfco09Hq2tqb9CslwQ/edit#gid=0) is the source for All Widgets and whoever needs to edit it has edit privileges. The advantage is that it's easy to view and GSheets makes it relatively easy to see change history. I believe that if we tracked an XLSForm in git we wouldn't get meaningful diffs, is that

[2017-08-30 20:17] lognaturel commented on #9
I'm pretty convinced that option 3 is going to be complicated logistically and may not even be feasible since the bounds between tools are not always clear.

How about having a dev doc folder in this repo initially and as dev docs grow considering breaking them out? That is, option 1 with the possibility of going to option 2 if deemed necessary?

As an aside, Dimagi has some nice prose [here](http

[2017-08-30 20:35] adammichaelwood commented on #102
This is a good point.
Idle musing, but: I wonder if a (a set of) CSV file(s) would work...

Anyway, let's keep the current setup.

Does the sheet currently reflect the correct usage?

[2017-08-31 00:19] adammichaelwood commented on #102
I'm on 1.9.1, which seems to be the latest stable release.
When is 1.10 available?

[2017-08-31 01:38] adammichaelwood commented on #98
(It doesn't matter in connection to this issue, but... I am aware the information about Google sheet in the screenshot above is not right.)

[2017-08-31 04:41] lognaturel commented on #102
THE FUTURE! 😉

The beta just went out (see [here](https://forum.opendatakit.org/t/odk-collect-1-10-0-beta-0/9618)). I don't imagine there will be changes to that particular behavior.

I don't think the sheet adequately reflects the correct usage and I will take a stab at addressing that. Will let you know when I've done it so you can review.

[2017-08-31 19:13] adammichaelwood opened #103 "Switch Prev/Next buttons and file issue placement"
Would be better if page nav buttons were above the file an issue.

![screen shot 2017-08-31 at 12 12 52 pm](https://user-images.githubusercontent.com/1776241/29940977-be8f386c-8e45-11e7-9e03-176655b2e19b.png)

[2017-08-31 19:14] adammichaelwood opened #104 "Put page title in/on/near next/prev buttons"
The Next and Previous buttons at bottom of page would be more helpful if they told you what page was next.

[2017-08-31 20:05] adammichaelwood opened #105 "Solve on-page toc problem"
This is a problem with either Sphinx or the RTD theme. It requires some investigation into whether it is even solvable...

IF you put a table of contents directive on a page other than index, then the sidebar toc includes that toc into it, resulting in duplication of page links in the side bar. This means you can't have on-page TOCs for (for example) a particular subset of docs.

(I was trying to

[2017-08-31 22:21] adammichaelwood opened #106 "Collect Best Practices / random advice"
inspired by #6

[2017-08-31 22:30] adammichaelwood commented on #38
The relevant widgets needs to be added to the all-widgets form.

[2017-08-31 22:31] adammichaelwood commented on #15
moving this to a separate issue.

[2017-08-31 22:32] adammichaelwood opened #107 "Document settings QR structure"
From #15

Also document the structure of the QR code for people who want to generate them programmatically - https://forum.opendatakit.org/t/create-my-own-qr-code/7158/2

[2017-08-31 22:40] adammichaelwood commented on #106
https://github.com/opendatakit/collect/issues/1306

[2017-08-31 22:42] adammichaelwood commented on #106
#54

[2017-08-31 22:42] adammichaelwood commented on #106
#61

[2017-08-31 22:43] adammichaelwood commented on #106
#92

[2017-08-31 22:45] adammichaelwood commented on #24
I wonder if this is more relevant to Form Design than Collect.

[2017-08-31 23:18] adammichaelwood opened #108 "document custom roles"
th, tc, gesture, formstate

Need a short section in the Writing in Sphinx section of the Contributor's Guide that explains our custom text roles. (Make sure you understand what a text role is in rst/sphinx before doing this.)

th -- table head. USed when referencing a table header cell in the body of text (See, for example, the form widgets doc)
tc -- table cell. used when writing about table cell

[2017-08-31 23:56] adammichaelwood opened #109 "guilabel and menuselection style"
1. Visual style
2. Some thought about rules of when to use which. (Most cases are obvious, but there's some gray areas.)

[2017-09-01 00:14] adammichaelwood opened #110 "Collect Guide"
(I thought for sure there was an issue for this already, but I can't find it.)

Basic user guide for general use

(More details such as best practices, troubleshooting, and some advanced features covered individually under other issues.)

[2017-09-05 15:46] #110 closed

[2017-09-05 15:46] #15 closed

[2017-09-05 16:35] adammichaelwood opened #112 "Collect Jump button"

[2017-09-05 16:35] adammichaelwood opened #113 "Form states"

[2017-09-05 16:38] adammichaelwood opened #114 "Main Menu explanation"

[2017-09-05 19:28] lognaturel commented on #114
Specifically, clarify what View Sent Form is for - https://forum.opendatakit.org/t/deleted-submission-remains-in-view-sent-form/9669

[2017-09-08 06:57] mish24 commented on #114
@lognaturel Can I take this up?

[2017-09-08 06:57] mish24 commented on #104
@adammichaelwood May I take this up?

[2017-09-08 06:58] mish24 commented on #96
@adammichaelwood Shall I work on this?

[2017-09-08 09:42] anamika2910 commented on #63
@adammichaelwood Can I work on this?

[2017-09-08 09:57] mish24 commented on #106
I can add best practices!!

[2017-09-08 09:59] mish24 commented on #100
Can you state some reliable resource I can refer to for making the doc?

[2017-09-08 13:54] adammichaelwood commented on #104
Yes please.

This'll involve editing template files.

In case you haven't worked with Sphinx before, a quick outline of the procedure is:

 - Look at the theme source: https://github.com/rtfd/sphinx_rtd_theme/tree/master/sphinx_rtd_theme
 - Find the relevant template file that needs to be edited.
 - Copy into our `_templates` dir (a local file with name X replaces the built-in file of same name)

[2017-09-08 13:56] adammichaelwood commented on #114
(I bet she'll say yes.)

The idea here was just to be real clear on each one. They are mostly self explanatory, but it would be helpful to say that the user will see (for example) Sent forms, but not saved one. Or that they'll see deleted ones but not be able to edit them. Etc.

[2017-09-08 13:57] adammichaelwood commented on #96
Everyone can work on line edits at any time.
(Don't use the "Closes" syntax in your commit messages.)

[2017-09-08 14:01] mish24 commented on #114
@adammichaelwood It was clear to me when I was reading it for the first time. But I will add extra data :)

[2017-09-08 14:07] adammichaelwood commented on #63
That would be AWESOME.

The relevant form is:
https://docs.google.com/spreadsheets/d/1af_Sl8A_L8_EULbhRLHVl8OclCfco09Hq2tqb9CslwQ/edit?usp=drive_web

The end result doesn't need to be *exactly* like form-widgets.rst, but it should be pretty close. And the whole point is to have a robust enough solution that we can edit the all-widgets form and generate a new form-widgets.rst at any time.

I sugges

[2017-09-08 14:10] adammichaelwood commented on #106
Great! Probably would be good to be a new doc, displayed under the Collect heading in the TOC.
I'm thinking just a series of independent sections, each representing one good idea. We want to make it easy to expand on.

[2017-09-08 14:11] adammichaelwood commented on #100
https://developer.android.com/studio/command-line/adb.html

[2017-09-08 14:13] adammichaelwood commented on #100
Things worth noting in doc:

 - adb comes with android studio, but it has to be enabled. There's also some bash config stuff to make the command work at terminal
 - if you don't want to install android studio, adb is available as a standalone tool (https://developer.android.com/studio/releases/platform-tools.html)

[2017-09-08 17:57] troublemagnet commented on #103
I'd like to work on it.

[2017-09-08 18:05] ronna opened #118 "Theme error: sphinx_rtd_theme is no longer a hard dependency since version 1.4.0."
On Windows 10 when building the docs locally:

C:\Users\ronald\Documents\GitHub\docs>sphinx-build -b html . build
Running Sphinx v1.6.1
making output directory...
loading pickled environment... not yet created

Theme error:
sphinx_rtd_theme is no longer a hard dependency since version 1.4.0. Please install it manually.(pip install sphinx_rtd_theme)

C:\Users\ronald\Documents\GitHub\docs>

May be w

[2017-09-08 18:09] ronna commented on #95
@adammichaelwood

I have succesfully setup the docs tool chain on Windows 10 following the *nix orriented instructions. I faced two issues:
1. I had installed Sphinx following instructions from their docs, my sphinx install gets uninstalled when I run the requirements file, thus there is no need to install sphinx first.
2. #118

[2017-09-08 18:13] adammichaelwood commented on #118
It already is there. Check your local requirements.txt file.
You might have missed pulling in changes since PR #90
or, you may have got the changes but not re-run `pip install -r requirements.txt`

[2017-09-08 18:15] adammichaelwood commented on #95
see my comment there.

Yes. That's why the contributor guide only mentions the requirements.txt file, and doesn't have `pip install sphinx`

[2017-09-08 18:17] adammichaelwood commented on #95
Did you have to make any changes?
Did you use gitbash or powershell or linux subsystem or something else?
Have you been able to build and serve locally?

[2017-09-08 18:22] adammichaelwood commented on #103
Cool. You may want to coordinate with @mish24 working on #104 since that will likely touch the same template files. (It may not, actually - you'll have to dig in a bit.)

I think IDEALLY, text of the "file issue" notice would be pulled out of rst_epilog and put into a conf.py variable, which can then be sucked into the Jinja template directly. We probably want to style it nice to make it clear it

[2017-09-08 18:23] adammichaelwood commented on #103
(Also, see my note on #104 about how to work with template files.)

[2017-09-08 18:23] ronna commented on #118
@adammichaelwood

You are right, sorry for the noise, I only checked open issues before creating the issue. I am on a bad connection and latest changes were not pulled.

Please close the issue

[2017-09-08 18:24] adammichaelwood opened #119 "Explain how Sphinx templating and theming works, for contributors guide"
Need a reference so that anyone working on templating or theming issues has clear information about how the theme is structured. Should link to relevant Jinja and Sphinx docs.

[2017-09-08 18:26] adammichaelwood commented on #118
No problem.
Most of my own errors come from forgetting to pull in from upstream.

[2017-09-08 18:26] #118 closed

[2017-09-08 18:27] adammichaelwood commented on #95
I should also say: congrats on getting the build going!
wooooo

[2017-09-09 04:42] smartyrad commented on #119
hi @adammichaelwood , I wish to take up this issue. May I?

[2017-09-09 06:32] mish24 commented on #119
@adammichaelwood There are already so many concepts explained with regards to Sphinx, since this is not related to the project, maybe separating the entire `Sphinx-tutorial` section will prove a better option, or providing links to tutorials?

[2017-09-09 06:45] adammichaelwood commented on #119
Sure.

Basically, we want to provide enough info that someone working on issues like #103 or #104 would know be able to get off on the right foot. An explanation of what theme we use (rtfd/rtd_theme), how template overriding works, links to relevant docs, etc.

(Maybe talk to the people working on #103 and #104 to see what they have had to learn, what issues were non-obvious, etc...)

[2017-09-09 06:48] adammichaelwood commented on #119
I'm not completely sure what your suggestion is. However, I have been thinking we should break the `contributing.md` into separate docs.

What is there currently could be three:

 -  Intro to Contributing
 - Tooling
 - Writing in Sphinx

This issue would then be a new doc, Sphinx Templating, or perhaps part of a larger *developing the docs* document.

I'll open an issue to discuss.

[2017-09-09 06:51] adammichaelwood opened #120 "Split contributor's guide into separate docs"
from discussion on #119

What is there currently could be three:

Intro to Contributing
Tooling
Writing in Sphinx

and then, potentially a new section: Developing the Docs, for people working directly on the tools, theming, and deployment

This would make it easier to add a style guide also, which we should do at some point. (Probably sooner rather than later.)

[2017-09-09 06:52] adammichaelwood opened #121 "Style Guide"
We're going to need one.

[2017-09-09 07:01] mish24 commented on #104
@adammichaelwood The page titles are shown when you hover over the button. Shall I display the entire title on the buttons or just a specific length?

[2017-09-09 07:06] mish24 commented on #94
https://pypi.python.org/pypi/restructuredtext_lint ---> this is a good tool!

[2017-09-09 07:14] mish24 commented on #120
Intro to contributing:
1. What to work on
2. Avoid doing the following mistakes section
3. Best Practices
  a. For Issue Reporting
  b. For Pull Requests
4. Coding Style and Standards
5. Git workflow

[2017-09-09 07:15] adammichaelwood commented on #104
I would think the whole title.
But -- try it out and see how it looks.

[2017-09-09 07:20] adammichaelwood commented on #94
Cool.

That looks like it lints for rst syntax, which might be redundant to Sphinx.
(It may not be. I'm not sure.)

What we want for this task in particular is a tool that will let us specify style guide issues,
for example, "Open Data Kit" versus "Open data kit" or "OpenDataKit" etc.

Proselint does that for a bunch of common grammar and spelling issues, but I don't know how easy it is to extend

[2017-09-09 08:06] smartyrad commented on #119
@adammichaelwood  This makes sense. So, we can design it such that the intro to contributing page contains all the information for a user to be able to get his dev environment setup. The rest of the info/details like working with sphinx etc can be part of a new doc(s).

[2017-09-09 11:03] nadaa commented on #96
Hi,
How can I start with this?
Thanks

[2017-09-09 14:57] adammichaelwood commented on #96
@nadaa

Read the contributor's guide. That provides instruction for setting up your local environment and getting started. Then just pick a file that has spelling or punctuation errors and fix them.

If you need help getting your tooling and authoring environment set up, talk to us on the [developer slack](https://opendatakit.slack.com/), in the #docs-code channel.

[2017-09-09 17:27] nadaa commented on #96
Thank you @adammichaelwood.
I am following the contribution guide.  I use windows  (Cygwin) to setup the authoring tools, and I noticed there are no enough instructions in the guide. I will prepare a short doc to describe my approach.

Regards

[2017-09-09 17:30] tsah20 commented on #91
@lognaturel Hi is this issue still open? Can I work on this

[2017-09-09 18:18] ayushgangrade commented on #113
@adammichaelwood If this is free I would like to work on this :)

[2017-09-10 06:03] yanokwa commented on #107
@opendatakit-bot claim

[2017-09-10 06:03] yanokwa commented on #107
@opendatakit-bot unclaim

[2017-09-10 06:19] mish24 commented on #114
![screenshot from 2017-09-10 06-17-01](https://user-images.githubusercontent.com/24610197/30246651-b5910284-95ef-11e7-8c70-a1eea8e749a1.png)

@adammichaelwood Please see the highlighted text. I'm a bit confused. The forms (saved and finalized both) are viewable all the time right?

[2017-09-10 06:35] adammichaelwood commented on #114
I thought it was clear too (I wrote it!)
But it isn't all in one place.

@ln wanted a short section in the collect guide that just explained each item in the main menu, and what one should expect to see when opening it. (For example, some lists show saved but not sent, some show deleted, while others don't, etc.)

[2017-09-10 06:41] adammichaelwood commented on #113
There's no description because it's a minor thing I just needed to remind myself to add when I had a minute. But I'd love for you to take care of it.

1)

In `_static/css/custom.css`

[code]
2)

go through the Collect guide pages and make sure all references to form states (Saved, Finalized, Deleted) look like `:formstate:\`Finalized\``

3)

Add a mention to the formstate text role in the Writing

[2017-09-10 06:47] mish24 commented on #114
@adammichaelwood What about sent forms? They are viewable even after they're deleted right?

[2017-09-10 06:49] adammichaelwood commented on #91
@tsah20

This would be a doc within the Form Design unit.
Check out the XLSForm spec (specifically *constraints*) for details about how they would be used: http://xlsform.org/

It is open.

[2017-09-10 06:52] adammichaelwood commented on #96
Yes. We need more details on the Windows experience. Most of us are Mac or Linux people, but we would like to encourage Windows users to contribute.

Great. That would be very helpful.

IF you can incorporate that into the contributors guide, great. IF it makes more sense as a standalone doc, that would be fine too.

There's an issue for this: #95
We'd love for you to work on that.

[2017-09-10 06:56] adammichaelwood commented on #119
@smartyrad

I noticed on your fork that you added the info about Sphinx into index.rst
Index.rst is the front page of the docs site.

The Sphinx templating guide should be its own new doc. We'll add it to the Table of Contents in the Contributing section.

[2017-09-10 07:02] adammichaelwood commented on #119
Couple other issues with the in progress commit:

 - please don't line break at 80 chars. line break at paragraphs only (that is mentioned in the contributor's guide)
 - we don't need a long explanation of the benefits of sphinx or static site generators.
 - check your title formatting (please make sure you have read the "writing in Sphinx" section of the contributor's guide

The info people need

[2017-09-10 09:57] ayushgangrade commented on #108
Okay I will include both the issues in one PR

[2017-09-10 10:04] mish24 commented on #107
@opendatakit-bot claim

[2017-09-10 10:07] ayushgangrade commented on #107
@opendatakit-bot claim

[2017-09-10 10:08] ayushgangrade commented on #107
@opendatakit-bot unclaim

[2017-09-10 11:30] troublemagnet commented on #87
I'd like to work on this, may I?

[2017-09-10 11:31] troublemagnet commented on #75
Hi, I'd like to work on this, may I?

[2017-09-10 14:02] #104 closed

[2017-09-10 14:17] adammichaelwood commented on #107
This claim things has some weirdness to it.

Please ignore the note from the BOT about Zulip, etc.

[2017-09-10 14:23] adammichaelwood commented on #107
The QR codes are for bulk configuration of Collect installs. Encoded into the QR is a JSON object with a bunch of app settings.

People want to be able to generate those codes themselves. So we need a doc that shows the JSON object format, explains the compression used, and how to make that into a QR code.

You'll have to research the related issues from the Collect repo, to see how the developer

[2017-09-10 14:26] adammichaelwood commented on #87
Sure. This should be pretty easy -- just moving some files around and updating references.

[2017-09-10 14:27] adammichaelwood commented on #87
You'll also need to update `./b.sh` to copy the videos over. And @yanokwa will need to update CircleCI

[2017-09-10 14:29] mish24 commented on #107
@adammichaelwood Oh okay! I had a look, and it explains what QR codes are, but no steps are described about using them. So I wrote some points for using them through app. Basically divided their usage into 2 parts - using same settings through the app, or through coding. I will add about the json format (programmatically using them) in a while after reading about them. Thanks for the resource :)

[2017-09-10 14:46] adammichaelwood commented on #107
So the thing about the QR codes...

If they are generated by the app, another app just scans it and the settings are copied.
(That use case is covered in the current doc.)

If someone is going to generate programmatically, they wont be copying from an install. They just need to know the settings JSON structure.

[2017-09-10 15:55] mish24 opened #129 "Make the footer buttons responsive"
![imp](https://user-images.githubusercontent.com/24610197/30250575-3e33d5f8-9640-11e7-8505-1c3ff7183cba.png)

The width of the footer buttons should become 100% and they must be stacked on each other when the screen size is reduced.

[2017-09-10 17:28] mish24 commented on #92
@opendatakit-bot claim

[2017-09-10 17:38] nadaa commented on #95
I used Cygwin and completed the build successfully.
I added all installation steps in a txt file.  I still need to learn editing Sphnix. I also don't understand fully about git and branching.

[2017-09-10 19:13] nadaa commented on #95
I thought to create a new .rst file to show instructions for windows (cygwin), and add a link from the contributing.rst  to the new file. What do you think @adammichaelwood ?

[2017-09-11 06:34] adammichaelwood commented on #129
Additional requirements:

 - a bit of margin between the two buttons when vertically stacked
 - the previous button should be above the next button
 - this should be done responsively in CSS, without javascript

[2017-09-11 06:36] adammichaelwood commented on #95
So the way to add this info to the docs is:

 - create a new `.rst` file -- make sure you follow the Sphinx/restructuredtext format and syntax in the contributor's guide
 - add a reference to the doc in the relevant table of contents directive in `index.rst`

You'll then need to commit your changes, push them to your Github copy, and then issue a pull request.

Try getting through that process on

[2017-09-11 06:37] adammichaelwood commented on #92
This would be a section of the best practices guide.

[2017-09-11 06:39] adammichaelwood commented on #106
You can do a PR as soon as you have one best practice, then subsequent PRs each time you add a section.

[2017-09-11 06:43] mish24 commented on #106
And where to place it? In the `Contributing.md` file only right?

[2017-09-11 07:08] adammichaelwood commented on #106
No. This is a best practices guide for the Collect App.
So it would be a new doc, `collect-best-practices.rst`.
New doc files sit in the root directory.
Add it to the relevant TOC directive list in `index.rst`
(If you look at how the TOC lists are formatted there, you'll figure it out -- it's pretty straightforward.)

Make sure you actually use the Collect app and write baout best practices that y

[2017-09-11 07:45] troublemagnet opened #132 "[contributing.rst] Update the instruction to view documentation in web browser with the usage of python3."
![tbppr](https://user-images.githubusercontent.com/28952053/30263572-0bd98482-96f3-11e7-9e53-9e53fb8f4136.png)
Update the build instructions with the usage of python3. Using python gives the `No module named http
` error.

[2017-09-11 07:52] mish24 commented on #132
The installation process has specified while creating the virtual environment that Python 3 must be used.

[2017-09-11 08:54] troublemagnet commented on #132
Oh sorry, my bad

[2017-09-11 09:04] smartyrad commented on #119
@adammichaelwood  Sorry for that misleading commit :). I was trying out some stuff and hence made that commit .

I have created a new PR with all the changes. Kindly do check it out here https://github.com/opendatakit/docs/pull/133

[2017-09-11 09:31] smartyrad commented on #4
@lognaturel @adammichaelwood  Shall we include the documentation prepared in opendatakit/collect#74 under a new sub section called "Intents" in the Collect section of our documentation i.e. below https://docs.opendatakit.org/collect-forms/# ?

[2017-09-11 12:04] troublemagnet commented on #17
I'd like to work on this.

[2017-09-11 12:05] troublemagnet commented on #27
I'd like to work on it.

[2017-09-11 13:03] #75 closed

[2017-09-11 13:06] #132 closed

[2017-09-11 13:08] adammichaelwood commented on #132
Once you create a virtual environment with Python 3, the `python` command uses the python3 interpreter.

[2017-09-11 13:12] adammichaelwood commented on #119
I am closing this PR, then.
Let me know when #133 is ready for review.
And please add "Closes" and the number it address, so the issue will auto-close when the PR is merged.

[2017-09-11 13:12] #119 closed

[2017-09-11 13:29] adammichaelwood commented on #4
This is really part of building a doc on form design, not using Collect.

[2017-09-11 13:33] tanvibhakta commented on #121
I agree. One major thing which needs explaining is how multilevel headers are represented. There doesn't seem to be a clear indicator of that as of now.

[2017-09-11 13:34] tanvibhakta commented on #120
If @mish24 isn't actively working on this, I would love to.

[2017-09-11 13:35] tanvibhakta commented on #112
What is this? :smile:

[2017-09-11 13:38] mish24 commented on #120
@tanvibhakta I'll work on this.

[2017-09-11 13:41] adammichaelwood commented on #17
I think this needs to wait until at least the Briefcase documentation has been added.

[2017-09-11 13:47] adammichaelwood commented on #27
this would need to be part of a larger doc on Briefcase

[2017-09-11 13:52] adammichaelwood opened #136 "Briefcase Guide"
A new doc or set of docs on using Briefcase.

(These would be added as **new** toc directive to `index.rst`, creating a new section of docs.)

A starting place is the existing/old documentation:
https://opendatakit.org/use/briefcase/

Working on this requires following existing docs:

 - DLing and installing Briefcase,
 - using it as specified in the existing docs,
 - experimenting with it to make

[2017-09-11 14:08] adammichaelwood commented on #120
I assigned myself and am going to work on it.
I have particular ideas about the contributors guide.

[2017-09-11 14:08] adammichaelwood commented on #121
What do you mean?

[2017-09-11 14:43] troublemagnet commented on #136
Sir I'd like to work on this.

[2017-09-11 15:17] adammichaelwood commented on #136
Please get through these steps:

And also make you have gone through the main [getting started guide](http://docs.opendatakit.org/getting-started/) and have a decent understanding of Collect.

When you have done that, let me know if you want to work on the Briefcase doc.

[2017-09-11 18:20] troublemagnet commented on #98
I'd like to do it.

[2017-09-11 18:20] troublemagnet commented on #98
@opendatakit-bot  claim

[2017-09-11 18:26] adammichaelwood commented on #98
Great.

Styles should go in `custom.css`

Let me know if there's anything unclear here.

[2017-09-11 18:29] adammichaelwood commented on #103
Closed via #130

[2017-09-11 18:51] mish24 commented on #106
@adammichaelwood I don't understand admin settings menu properly through the links given above. Should I ask about it on forum?

[2017-09-11 19:10] troublemagnet commented on #98
My question is that we're not using admonition anywhere right now, so should I still work on it?

[2017-09-11 19:16] troublemagnet opened #141 "Render markup out of conf.py"
confy.py at the moment contains a lot of variables to display the footer text. Goal is to have a variable that renders the markup.

[2017-09-11 19:17] troublemagnet commented on #141
I'd like to take it up.

[2017-09-11 21:47] adammichaelwood commented on #106
I think the first line of "hey, how does this thing work?" should be developer slack. It's a better place for ephemeral conversations like that. You're not really having a support issue, you probably just need a quick chat.

[2017-09-11 21:48] adammichaelwood commented on #98
We're not using any because the style is messed up so I have avoided them.

It is not high priority, but if you think you can do it easily and quickly, it's a good "quick win"

[2017-09-11 21:51] adammichaelwood commented on #141
Do some research on Sphinx documentation/forums/etc first.

I've run into this problem before:
I wanted to include links in the license/copyright statement, and markup doesn't work right.
Someone, somewhere must have solved it. I don't want to go down some wild coding goose chase. There must be a setting or a simple fix or something, somewhere....

[2017-09-12 03:21] mish24 commented on #103
@adammichaelwood Can you close this?

[2017-09-12 04:11] lognaturel commented on #107
@mish24 One other hint -- I think you have Collect building from source. If you run `adb logcat` while running Collect to a connected device/emulator, go to the QR code generating activity and you'll see a log item with the json for the QR code. As @adammichaelwood mentioned, only non-defaults are included so you may have to change some settings to see the format.

[2017-09-12 04:37] nadaa commented on #95
Hi,
I sent a pull request, can you please check it?

Thanks

[2017-09-12 04:40] lognaturel opened #144 "Add a pull request template"
We've been using pull request templates on some of the other ODK tools and they have been really helpful for remembering to close issues, to actually try out the changes, explain why certain decisions were made, etc. For example, Collect's is [here](https://github.com/opendatakit/collect/blob/master/.github/PULL_REQUEST_TEMPLATE.md). Having the template in place has helped a lot with review.

@ada

[2017-09-12 06:04] adammichaelwood commented on #103
Oh - I meant to. My mistake.

[2017-09-12 06:04] #103 closed

[2017-09-12 06:04] mish24 commented on #107
@lognaturel This solved the only issue that was blocking me! I was spending a lot of time in learning how to use `PyQRCode`. Thanks a lot ma'am :)

[2017-09-12 06:45] adammichaelwood commented on #144
I always am a little annoyed by templates. "Ugh - do I have to fill out all these items for my three typo fixes? How annoying...."

But... I think you are right and that they are useful.

[2017-09-12 08:39] troublemagnet commented on #141
![prooof](https://user-images.githubusercontent.com/28952053/30316125-d770704e-97c3-11e7-8816-3d8bda410b56.png)
Sir the official documentation seems to be using a method similar to ours.

[2017-09-12 14:00] adammichaelwood commented on #141
That is very interesting.
Ok, I think we should leave this issue alone for now.
It's working fine and is extremely low priority.

(Sidenote, for future reference: Including a screen shot is not a good way to reference documentation, or other information. If I was on a phone, or using assistive technology, that would be unreadable. It was fine for me today, and I could read it, but it is not a good

[2017-09-12 14:10] adammichaelwood opened #148 "How to include video in docs"
Section should be added to contributor guide, near/after the section on adding images. Show markup, where to put the vid, and also how to use `adb` to take a vid from collect. Also, note that videos inside the docs should be less than a minute in length.

[2017-09-12 14:13] mish24 commented on #148
@adammichaelwood I can add about videos in `adb` in section right now. I just learned that.
Plus if it's okay I can add the additional contents too.

[2017-09-12 15:29] adammichaelwood commented on #148
I was thinking @troublemagnet should do this, since she just worked on the vid directory stuff.

[2017-09-12 15:33] troublemagnet commented on #148
Sure, I'll be able to do it.

[2017-09-12 15:52] mish24 commented on #148
Oh I already started working on it

[2017-09-12 16:24] mish24 commented on #148
@adammichaelwood Should this include embedding videos from YouTube?

[2017-09-12 16:45] mish24 opened #149 "Test README build before submitting changes"
I think a script can be added to check whether README build is successful before submitting a PR. This is easy, and implements *Style guide testing*. @adammichaelwood What do you think?

[2017-09-12 16:47] mish24 commented on #149
It's always a markdown file so styling in this case is fixed.

[2017-09-12 17:23] mish24 commented on #149
I can make a pre commit hook to run all these tests, starting with this one. @adammichaelwood @yanokwa @lognaturel This will include tests for checking commit messages (if that is defined in future)

[2017-09-12 17:36] ankita240796 commented on #129
I would like to work on this, may I?

[2017-09-12 18:42] smartyrad commented on #62
@adammichaelwood The issue with a comment section would probably be that it would clutter the documentation page.

However, another suggestion would probably be that we create a separate post on Open Data Kit Forums specifically for such feedback. So, when the user clicks "No", we could directly redirect the user to that post. This would save us a lot of trouble from an implementation point of vie

[2017-09-12 18:49] adammichaelwood commented on #148
You've got several other things you are working on, so let's give @troublemagnet the chance to work on this.

[2017-09-12 18:49] adammichaelwood commented on #148
I can't think of a reason we would want to encourage doing that.

[2017-09-12 18:52] mish24 commented on #148
@adammichaelwood Yes. I'll leave this issue

[2017-09-12 18:53] adammichaelwood commented on #149
I don't understand what you want to accomplish here.

[2017-09-12 18:56] adammichaelwood commented on #149
This doesn't really implement style linting on the docs. It's just a tool for checking how the README is going to look. And the README, while currently in need of an update, doesn't change often enough for that to be really needed.

[2017-09-12 18:59] adammichaelwood commented on #129
If you know a bit about responsive CSS, yes please.

Custom styles go in `_static/css/custom.css`

Be sure to comment your code.

[2017-09-12 19:03] smartyrad commented on #105
@adammichaelwood  For this issue we could use the rubric directive and ensure that the titles are not included in the TOC. Instead, the main TOC will only contain the sub page's TOC.

References: http://www.sphinx-doc.org/en/stable/markup/para.html#directive-rubric

[2017-09-12 19:09] adammichaelwood commented on #62
I'm still not a fan of this idea. I just think "Was it helpful?" isn't helpful.

Good point on the comments. I don't think we want to be in the business of fighting comment spam and moderating discussion.

We could add a link to the forum in/near the "file an issue" note, though.

[2017-09-12 19:30] adammichaelwood commented on #129
closed via #152

[2017-09-12 19:30] #129 closed

[2017-09-12 19:32] adammichaelwood commented on #105
No, we want real headlines throughout the docs.

[2017-09-12 21:22] smartyrad commented on #62
@adammichaelwood  Makes sense. We could add a line below/above the file an issue line which goes something like this :
"If you would have any feedback regarding this documentation, please share in this ODK Forum thread"
 maybe?

[2017-09-12 21:30] smartyrad commented on #4
Okay sure, I'll work on it  :)

[2017-09-13 00:54] Divya063 commented on #95
@adammichaelwood  I just used command prompt  (without using Cygwin) on windows and installed the build successfully

[2017-09-13 04:23] nadaa commented on #95
@Divya060, What version of Windows you use?

[2017-09-13 04:45] nadaa commented on #105
Yes, I have noticed this issue also. There should be some way.

[2017-09-13 05:35] nadaa commented on #105
If you add (.. contents : :  :local:) on the top of a page, it lists its content.

[2017-09-13 17:48] #148 closed

[2017-09-13 18:43] adammichaelwood commented on #105
That's true, but that isn't what I wanted to.

[2017-09-13 18:47] adammichaelwood commented on #62
How about:

Someone could add this under the File and Issue text. The weird broken-up style used for that is fine, and we'll fix them both when someone figures out how to solve #141 .

[2017-09-13 19:14] mish24 commented on #149
@adammichaelwood Yes. Even I thought this will not be that useful. What about commit message syntax? Is it required to test those?

[2017-09-13 19:23] adammichaelwood commented on #149
No I don't think that would be helpful.

What we want to do is implement proselint, or something like it, for style checks on the actual documentation writing.

[2017-09-13 19:35] adammichaelwood opened #159 "Edit Windows Guide"
@nadaa has recently completed a guide to building the docs in Windows and working locally with Cygwin.

The content of this guide is very good, but there are two problems:

 1.  @nadaa, like many of us, is relatively new to this kind of technical writing, so there are style issues and rewrites that need to be done
 2. I do not have a Windows machine, so there is no way for me to check the accuracy

[2017-09-13 22:10] adammichaelwood commented on #87
closed via #147

[2017-09-13 22:10] #87 closed

[2017-09-14 04:58] troublemagnet opened #160 "In getting started guide, describe how to get help"

[2017-09-14 05:09] #149 closed

[2017-09-14 08:47] Komal-Agarwal96 commented on #159
@adammichaelwood  Sir, can I work on this?

[2017-09-14 12:26] Divya063 commented on #95
@nadaa Windows 10

[2017-09-14 12:35] Divya063 commented on #159
@adammichaelwood I have installed the development environment using command prompt only, on windows.Installation steps for the development environment can be provided as an alternative if someone doesn't want to install Cygwin

[2017-09-14 12:48] mish24 commented on #5
@lognaturel I am not able to understand this part properly. Any sources you can suggest to clear this?

[2017-09-14 12:54] mish24 commented on #160
@troublemagnet I also thought about adding this info in docs.
https://github.com/opendatakit/docs/pull/115 ---> this was the discussion.

[2017-09-14 13:08] adammichaelwood commented on #159
@Komal-Agarwal96  Yes.

@Divya063 You mentioned you are on Windows 10. Can I assume you used the Linux subsystem?

[2017-09-14 13:14] adammichaelwood commented on #160
Yeah. I'm a little concerned about trying to explain advanced git usage, for two reasons:

 - I don't want new contributors to get confused or overwhelmed
 - existing git documentation covers this better than probably we could

Given the size of our docs contributor community, I think we can probably handle answering questions about this on slack when it comes up, and pointing people to the git do

[2017-09-14 13:14] adammichaelwood commented on #95
closed via #145

[2017-09-14 13:14] #95 closed

[2017-09-14 13:17] adammichaelwood opened #161 "Windows without Cygwin"
Windows 10. (I'm assuming Linux subsystem.)

The following would probably be useful:

 - Amend the the note about Windows in the main contributor guide
    - While you are working on that, add a link to the Cygwin doc
 - Put a note at the top of the cygwin doc

[2017-09-14 13:23] Divya063 commented on #159
@adammichaelwood No, I didn't use Linux subsystem.

[2017-09-14 13:25] adammichaelwood commented on #159
@Divya063 let's continue this conversation on #161

[2017-09-14 13:28] Divya063 commented on #161
@adammichaelwood I just used command prompt which comes pre-installed on Windows

[2017-09-14 13:32] Divya063 commented on #161
@opendatakit-bot Claim

[2017-09-14 13:33] Divya063 commented on #161
@adammichaelwood Can I work on this issue?

[2017-09-14 13:41] adammichaelwood commented on #161
Yes, that's why I opened it.

BEfore you jump in - can you describe your process.
You said you didn't use Linux subsystem. Did you adapt the commands to powershell? Use gitbash?

[2017-09-14 13:55] nadaa commented on #121
@adammichaelwood , I will work on that if possible.
I need to know what you expect from this guide, and how it differs from Sphinx guide in the contributing doc?
Thanks

[2017-09-14 13:59] adammichaelwood commented on #121
This is not up for claiming. It is a writing style guide, which I will be working on.

[2017-09-14 14:24] Divya063 commented on #161
Currently Windows supports powershell ,cmd(command prompt) as well as git bash. Command prompt has a user-friendly command structure and that's why I use it.By default some Windows systems are coming with powershell,Preferences can be changed  by opening Settings > Personalization > Taskbar, and turning ‘Replace Command Prompt with Windows PowerShell in the menu when I right-click the Start button

[2017-09-14 14:28] Divya063 commented on #161
@adammichaelwood  all the commands are basically same with the ones used in Linux except the commands used in creating virtual environment

[2017-09-14 15:17] adammichaelwood commented on #161
Sounds good.

Which organization approach makes more sense to you?

 - insert these details in existing contributors guide
 - combine this with the cygwin page, so there's a windows document with two sections
 - new document

[2017-09-14 15:47] adammichaelwood commented on #96
Quick note:

**Please do not submit line edits for the Cygwin guide** at this time, unless you are directly working on #159

[2017-09-14 16:25] lognaturel commented on #160
I agree that we don't want to duplicate `git` documentation! @adammichaelwood how would you feel about adding a note in the contribution guide that explicitly encourages anyone who gets stuck or in a bad state to join #docs-code and ask there?

[2017-09-14 16:34] adammichaelwood commented on #160
That's a great idea.

[2017-09-14 16:40] Divya063 commented on #161
@adammichaelwood I think inserting the details in existing contributors guide would be good as many commands are repetitive (same in Linux and windows).In those areas where commands are different we can do this for instance
Taking this case

`$ virtualenv -p python3 odkenv`

On windows  run the venv module as a script with the directory path:
 `>C:\python36\python -m venv odkenv`

[2017-09-14 16:49] adammichaelwood commented on #161
Great. Let's go with that.

[2017-09-14 16:54] troublemagnet commented on #160
Yes, that's true. Should I work on it?

[2017-09-14 16:59] troublemagnet commented on #160
That's true. May I work on it?

[2017-09-14 17:00] adammichaelwood commented on #160
Sure.

[2017-09-14 19:10] adammichaelwood commented on #159
(Deleted off-topic comments, for clarity)

[2017-09-14 19:12] adammichaelwood commented on #159
@Komal-Agarwal96

You are working on this, yes?

[2017-09-14 19:17] Komal-Agarwal96 commented on #159
@adammichaelwood  Since cygwin.rst is going to be re-written anyway as you mentioned in #96 should I continue with this or not?

[2017-09-14 19:18] adammichaelwood commented on #159
Rewriting `cygwin.rst` is this project .

[2017-09-14 19:19] Komal-Agarwal96 commented on #159
Okay, then I am on it.

[2017-09-14 19:20] adammichaelwood commented on #159
Are you able to work on an edit/rewrite? Please read the description above.

[2017-09-14 19:23] Komal-Agarwal96 commented on #159
Yes, sir. I had started but got confused because of the comment in #96. Will correct/clarify content, rewrite and make line edits as described in the description above. Thanks

[2017-09-14 20:31] nadaa opened #164 "A doc on using google drive in ODK collect"
I found there is an option to set "google drive" as a server in ODK collect app. I think it will be good to include this in the ODK Docs?

[2017-09-14 21:04] nadaa commented on #161
@Divya063, please try to repeat the previous steps as described. You then add any thing you find helpful.
"C:\python36\python -m venv odkenv" can be added as an extra way to build a virtualenv.

I think specifying the full path in the prompt  is confusing, In your case, you tell people to go to C:\python36, which is not necessary.

[2017-09-14 21:06] lognaturel commented on #164
There currently is this section: http://docs.opendatakit.org/collect-install/#connecting-to-a-googe-drive-account

Some information that should be included is that the Google Drive integration does not support repeats and can handle a maximum of 255 questions because of a Google Sheet limitation.

@adammichaelwood will need to provide guidance on where this information should go when he has a chan

[2017-09-14 21:46] adammichaelwood commented on #164
I think a small doc on using google drive would be worthwhile.
It could be an independent page for now (`google-drive.rst`) and we can put it under the Collect TOC for now (it can move later without a problem)

@nadaa if you'd like to work on this, that would be great. You'd need to find whatever info is already available, and try to get the process going yourself between an Android device and you

[2017-09-14 21:56] nadaa commented on #164
Yes, I will work on it.

[2017-09-14 22:40] adammichaelwood commented on #144
opendatakitbot-claim

[2017-09-14 22:40] adammichaelwood commented on #144
@opendatakitbot-claim

[2017-09-14 22:41] adammichaelwood commented on #144
@opendatakit-bot claim

[2017-09-14 22:42] adammichaelwood commented on #93
@opendatakit-bot claim

[2017-09-15 03:17] troublemagnet commented on #108
@opendatakit-bot claim

[2017-09-15 03:21] troublemagnet commented on #113
@opendatakit-bot claim

[2017-09-15 03:22] troublemagnet commented on #113
@adammichaelwood Sir the user who initially showed interest in this issue seems to have deleted his/her account, Should I work on it and #108?

[2017-09-15 03:50] adammichaelwood commented on #113
That would be fine. These are both small and can be included in a single PR.

[2017-09-15 03:52] adammichaelwood commented on #108
Be sure to notice in the current contrib guide source file how the existing role documentation is marked up.

[2017-09-15 11:56] Divya063 commented on #161
@nadaa I was just giving an instance

[2017-09-15 12:01] nadaa commented on #161
It is fine @Divya063 :).

[2017-09-15 12:58] adammichaelwood commented on #4
@lognaturel  I was confused about this.

The content here is developer docs, not user/implementer docs. Do you we think it really belong here? Or....?

[2017-09-15 13:28] adammichaelwood opened #168 "Fix lang declaration on terminal prompts examples"
A bunch of `code-block` examples for terminal commands are currently labeled `rest`

(This is my fault, btw.)

They need to be changed.

Currently, the "right" designation is `none`

But I have recently discovered that `sh` (for "shell") and `console` are available.

So I would like for someone to:

 - try both `console` and `sh` locally (run the build)
 - see which, if either, look good
     - if

[2017-09-15 13:31] mish24 commented on #168
@opendatakit-bot claim

[2017-09-15 13:33] mish24 commented on #168
@adammichaelwood I will work on this. Aren't `sh` and `console` similar things though?

[2017-09-15 13:37] adammichaelwood commented on #168
In the syntax highlighter, `sh` and `console` are two different lexers.
I think `sh` is supposed to be for bash scripts (`*.sh`), and `console` for terminal sessions.

So `console` is probably the right thing, but you should check to see which one looks/works better.

Since this is mostly in `contributing.rst`, you might want to wait for #167 to close before doing this, to avoid having to resolve

[2017-09-15 14:30] #108 closed

[2017-09-15 14:30] #113 closed

[2017-09-15 14:34] troublemagnet commented on #160
@adammichaelwood Sir your PR covers this right?

[2017-09-15 14:36] troublemagnet commented on #35
@adammichaelwood sir may I work on organizing the directory structure?

[2017-09-15 16:15] adammichaelwood commented on #35
No.

 This is not work that actually needs to be done. It is not typical to organize sphinx repository as suggested above.  I know that having every document in the root seem a little disorganized, but it provides greater flexibility for organizing and rearranging the tables of contents as The best or most useful arrangement becomes clear.

[2017-09-15 16:15] #35 closed

[2017-09-15 16:38] troublemagnet commented on #109
@adammichaelwood sir what exactly is this issue about?

[2017-09-15 16:38] troublemagnet commented on #109
@opendatakit-bot claim

[2017-09-15 16:53] adammichaelwood commented on #109
Probably shouldn't claim issues before you understand what they are about.

The roles for `guilabel` and `menuselection` are part of Sphinx. (see the contrib guide and also the sphinx documentation)

`guilabel` has some styling built into the theme.
`menuselection` does not.

`menuselection` needs some kind of clear styling, probably similar to `guilabel`

Also, some uses of each are unclear which

[2017-09-15 17:24] troublemagnet commented on #109
Apologies for unprofessional behavior sir. I'd work on the styles and will also research about the two options available.

[2017-09-15 19:04] lognaturel commented on #4
I think there should be a section on building on top of or integrating with ODK Collect. This is information for developers, yes, but not for Collect developers. It's for developers of other apps that integrate with Collect. Does that make sense?

To make this idea more concrete, check out the intent tester app [here](https://github.com/grzesiek2010/collectTester). This will eventually be moved to

[2017-09-15 19:31] NjeriNjoroge commented on #168
Hi, i would like to work on this. Please tell me how I can get started?

[2017-09-15 21:42] lognaturel commented on #168
Hi @NjeriNjoroge, it looks like @mish24 is already on this one! You can see that she claimed it a few comments up.

I would recommend that you start by reading through the existing documentation and making sure you understand it. It's likely you'll find a small typo or spelling error and then you can file a line edit pull request as described at https://github.com/opendatakit/docs/issues/96

[2017-09-16 00:21] adammichaelwood opened #170 "Pull in, edit/correct existing encrypted forms doc"
https://opendatakit.org/help/encrypted-forms/

This text would be a good start for a doc to add to our repo.

The person working on it needs to actually follow the entire procedure laid out in the document, to see what works, what doesn't what needs to be changed, etc.

Then:

 - add this as a new doc page
 - implement rst markup throughout (this will likely also involve re-linking links to pages

[2017-09-16 00:29] adammichaelwood commented on #4
I see, yes -- that makes sense.

(I had originally thought this was for form designers trying to use intents to launch other apps.)

@smartyrad

Can you add some text at the top of your doc that explains what the doc is for. You describe what an intent is, but it isn't clear (unless you already know) that the purpose of the doc is to show people how to launch ODK Collect and have it open at variou

[2017-09-16 00:31] adammichaelwood commented on #160
I think the contributor tips probably covers it.
Anyone else have an opinion?

[2017-09-16 08:07] mish24 commented on #170
@adammichaelwood Some part is common for Collect and Aggregate. There has to be a part which explains how these form encryption are useful everywhere explicitly. Briefcase has other methods for encrypting forms, which isn't needed in Collect and Aggregate specific sections

[2017-09-16 08:35] mish24 opened #171 "Clarify why menuselection labeling is used"
Right now in the docs, wherever `:menuselection:` label is used, the text appears as normal text. Menuselection is used when we need to provide instructions like Select "A ----> B -----> C". If not, these should be replaced by `:guilabel:` only.
For reference look at https://docs.opendatakit.org/collect-install/
Notice that in `warning` given at the end, the `Server settings` and `Other` are butto

[2017-09-16 09:15] mish24 commented on #171
I just noticed #109 is for styling `:menuselection:`, but when and where should we use it?

[2017-09-16 14:35] Divya063 commented on #170
@opendatakit-bot claim

[2017-09-16 17:00] adammichaelwood commented on #171
This is a duplicate of #109

[2017-09-16 17:00] #171 closed

[2017-09-16 17:04] adammichaelwood commented on #170
Maybe a new toc tree for "integration"

[2017-09-17 11:09] ngumbau commented on #63
Just wondering if you have considered using [screengrab](https://docs.fastlane.tools/getting-started/android/screenshots/) from fastlane.

[2017-09-18 14:41] adammichaelwood commented on #109
Anyone have an opinion on:

[2017-09-18 14:52] troublemagnet commented on #109
Sir I don't see how the home screen of app can be "menu" ?

[2017-09-18 14:54] adammichaelwood commented on #109
What is a menu other than a listing of items you can select?

[2017-09-18 14:59] mish24 commented on #109
According to Sphinx guide - wherever there's selection of options, like `Menu A` ---> `Setting B` ----> `Print C`, `menuselection` must be used.

[2017-09-18 15:32] adammichaelwood commented on #109
Menu selection is used for any menu. The arrow notation is specifically for nested menus,  but it is not essential to the concept of menu selection.

[2017-09-18 16:03] troublemagnet commented on #109
Sir quoting the sphinx guide ,

So sir I think it's usage is to represent a sequence of menu selections.

[2017-09-18 16:21] lognaturel commented on #109
@troublemagnet Don't forget that a sequence can have a size of 1! it's not the most interesting sequence but it is a sequence.

[2017-09-18 16:32] mish24 commented on #109
So, from what I saw in other documentation, `:guilabel:` is used when stating the *topics* or *titles* of the application. Like in Collect, `Saved Forms`, `Edit Saved forms` is a  GUI label. Whereas, the top right corner for settings are menus.

[2017-09-18 16:32] troublemagnet commented on #109
Basically from my understanding, we use :menuselection:  when we're guiding the user through menus. So suppose we want them to click on the format menu for viewing all the formatting option, I would use :guilabel: because I'm just asking them to click on a menu and not guiding them through the suboptions or telling them to select a particular option. In other words just clicking on a menu is equiv

[2017-09-18 16:38] lognaturel commented on #109
Well, I could certainly see it either way and I'm sure @adammichaelwood will have some thoughts! Good thing that it will be clarified.

[2017-09-18 17:39] adammichaelwood commented on #109
I think the docs could be read either way. Especially since the `guilabel` role includes "menu" in the list of things you can use it for:

And, to @troublemagnet's point, the `menuselection` documentation only has examples of a nested menu.

However...
It seems silly (to me, anyway) for some menu item to be marked  as `guilabel` in one instance and `menuselection` in another, which is what would h

[2017-09-18 17:47] adammichaelwood commented on #63
That looks like a really good alternative to monkeyrunner. Thanks.

The fact that it is in Ruby presents an added complication to our stack. However, that might not be a problem. I don't actually expect that every docs contributor will need to run this screenshot utility. It is just something that would need to get run once per Collect release.

Whoever ends up actually building this feature will

[2017-09-18 18:10] ngumbau commented on #63
[15:09 - 20:11 Automation with fastlane](https://www.youtube.com/watch?v=Nr5RHaQa3Uc). It actually works with expresso tests. No Ruby required except for installing command line tools.

[2017-09-18 18:18] troublemagnet commented on #109
SGTM!
Makes sense to style them similarly so that the message is conveyed to the user even when we are not clear about which option to use and yeah we can stick to the above convention while documenting.

[2017-09-18 18:27] adammichaelwood commented on #109
Great. Can you make that change in the style and issue a PR?

Does `contributing.rst` need to be edited also?
It's clear to me... but I wrote it, so it might not be clear to others.

[2017-09-18 18:39] troublemagnet commented on #109
Yes, I think we should edit it because the whole point of contributing.rst is to tell them about our writing style. Since we've decided on a rule, it should be documented.

[2017-09-18 18:56] troublemagnet commented on #109
@adammichaelwood sir I issued a PR and made the styling same. I'll add commits to edit the `contributing.rst` if it is supposed to be done.

[2017-09-18 19:17] adammichaelwood commented on #109
Yes, please edit contributing.rst to make the rule above clear.
That PR will close this issue.

[2017-09-18 19:54] mish24 commented on #168
Hello, something interesting came up. Apparently `sh` and `console` aren't same. One produces different colored output for shell commands, whereas other just turns everything inside the block to gray. `none` is just all black and white, whereas `rest` is able to differentiate between code example and the text. Like in the examples given for sphinx documentation, it turns the actual syntax into gra

[2017-09-18 19:56] mish24 commented on #168
One important thing - `code-block` is rendered on **terminal** and not online.

[2017-09-18 19:57] adammichaelwood commented on #168
can you provide screen shots for discussion?

[2017-09-18 19:58] adammichaelwood commented on #168
I don't know what you mean here

[2017-09-18 19:58] mish24 commented on #168
![screenshot from 2017-09-18 19-57-54](https://user-images.githubusercontent.com/24610197/30561782-b3c526d4-9cab-11e7-960c-b588d1b03a4d.png)

In the example here, the restructured text example syntax as well as the line that follows are black.

[2017-09-18 20:00] mish24 commented on #168
We want the code of `.rst` format to be in gray, and the text in black. http://build-me-the-docs-please.readthedocs.io/en/latest/Using_Sphinx/ShowingCodeExamplesInSphinx.html#pygments-lexers --> all these types of `code-blocks` can be used, which will just gray up the content which is written in that programming language, and everything else remains black.

[2017-09-18 20:01] adammichaelwood commented on #168
We are only discussing the code samples related to terminal commands

The code samples showing restructured text will stay `rest` for the lang declaration

[2017-09-18 20:01] adammichaelwood commented on #168
The question was whether `console` or `sh` will make the terminal commands look better.

[2017-09-18 20:05] mish24 commented on #168
![screenshot from 2017-09-18 20-04-05](https://user-images.githubusercontent.com/24610197/30562005-8c552684-9cac-11e7-849b-c91a589c7ded.png)
Here the `source odkenv/bin/activate` uses `console`. `sh` just turns everything gray.

[2017-09-18 20:05] mish24 commented on #168
So we want the terminal commands in gray or black? If it's gray it'll be `sh`.

[2017-09-18 20:09] mish24 commented on #168
In my opinion, black looks much better than gray.

[2017-09-18 20:20] mish24 commented on #168
Also, `rest` has to be changed to `rst` everywhere.

[2017-09-18 20:37] adammichaelwood commented on #168
I think we should use `console` for console sessions. It is "correct" and seems to do some appropriate syntax highlighting.

It doesn't, actually. They are the same thing.
But it might make it more clear.

If you want to change `rest` to `rst`, you can. It doesn't really matter.
Just don't do a find-and-replace, or you'll end up changing things you don't mean to.

[2017-09-18 20:40] mish24 commented on #168
@adammichaelwood Okay! I'll change it to console then!

[2017-09-18 20:52] adammichaelwood commented on #168
Just a note of clarification:

restructured text samples need to be `rest` (or `rst`)

bash console (terminal commands) should be `console`
(most of them are currently `rest` or `none` -- because I made a mistake and labeled them `rest`)

actual bash shell script examples should be `sh` (I can only think of one)

.gitignore and .gitattributes should be `none`

[2017-09-18 20:53] adammichaelwood commented on #168
it might be helpful to make a note in the docs where it mentioned using `.code-block`

[2017-09-18 20:57] mish24 commented on #168
@adammichaelwood Where is the `sh` one? I'm sorry I couldn't point it out. Yes, I will add notes too.

[2017-09-19 16:31] #109 closed

[2017-09-19 16:34] adammichaelwood commented on #168
closed via #176

[2017-09-19 16:34] #168 closed

[2017-09-19 16:40] #160 closed

[2017-09-20 20:54] jumperskirt commented on #66
is there a python library equivalent to PIL for video?

[2017-09-20 20:55] adammichaelwood commented on #66
Probably, but I'm not sure how that would be relevant to this issue.

Could you clarify what you are considering?

[2017-09-20 21:47] jumperskirt commented on #66
looking at the [image directive](http://repo.or.cz/docutils.git/blob_plain/refs/heads/master:/docutils/docutils/parsers/rst/directives/images.py), the PIL.Image seems to do the image processing, but as PIL does not support mp3 or mp4 file formats, i was trying to figure out whether using a library like moviepy to do the video processing in the video directive would make sense

[2017-09-20 21:51] adammichaelwood commented on #66
I think a video directive doesn't need to be as complicated.

It seems to me a video directive would only need to:

 - copy video over to output
 - generate the appropriate html for the output
 - *perhaps* generate some alternate text output for non-html builders

[2017-09-20 22:17] adammichaelwood opened #179 "Helpful git tips"
This is a discussion.

I'm wondering what git commands or use patterns you have found helpful or needed to look up frequently while working on the docs, but which aren't covered currently.

(I don't want to duplicate git documentation, but some advice MIGHT be helpful.)

I'll start by mentioning a few...

[2017-09-20 22:18] adammichaelwood commented on #179
To pull down a local copy of a PT, so you can test it.

[code]

[2017-09-20 22:22] adammichaelwood commented on #179
To clear current unstaged changes:

[code]

I end up using this after I have had to add fake content for testing (for example) a style.

Like, recently: there was a PR about styling generic admonitions. But I had to add a generic admonition to test it. So I edited a file to add one. But I don't want to commit that change. So I used the above command after I was done testing to remove the changes.

[2017-09-21 01:12] Divya063 commented on #179
If you messed up (e.g typos) when trying to go 'upstream'  it will result in `fatal` error, so use:
 `git remote rm upstream`
 `git remote add upstream https://github.com/example/repos.git `

[2017-09-21 06:55] troublemagnet commented on #179
After the PR has been opened, if some other pull request is merged in that case to rebase:
`git rebase upstream/master` followed by `git push -u origin {my-fork}  --force`.

[2017-09-21 07:00] troublemagnet commented on #179
`git grep {text}` is one more command that I use pretty often

[2017-09-21 07:18] troublemagnet commented on #7
@adammichaelwood sir only the installation instructions have to be documented or additional details about pyxform too?

[2017-09-21 09:53] mish24 commented on #179
Force pushing at any cost isn't a good idea, at least not now since this is documentation related work. And we don't have the squashing commits or the commit message mending type of requirements. It's better for the starters to just delete the repo form and start again, much simple.

[2017-09-21 10:01] mish24 commented on #18
@opendatakit-bot claim

[2017-09-21 10:03] mish24 commented on #18
@lognaturel I can add a new doc for the use of external apps, I tried something which manipulated forms from source code. Are there any specific points to keep in mind? Also, just to be sure, does this require a doc which explains forms as well? @adammichaelwood

[2017-09-21 13:01] adammichaelwood opened #181 "Form Design Workarounds and Tips"
https://opendatakit.org/help/form-design/workarounds/

This document needs to be brought into the current repo. Along the way, the information in it should be verified directly. Edits for clarity/typos/etc. should be done as well.

[2017-09-21 13:29] Divya063 commented on #170
@adammichaelwood  @mish24 is right also, the text is not clear enough to explain how to use XLSForm, Collect, Aggregate and Briefcase altogether.The installation steps are working fine and well explained.

[2017-09-21 13:44] mish24 commented on #181
@adammichaelwood Can I work on this? I'll test it along the way as well.

[2017-09-21 14:55] lognaturel opened #183 "Update the barcode scanning screenshot"
Barcode scanning is now in portrait and has a shorter, localized string. @adammichaelwood do you think it's worth updating screenshots for this kind of small change?

The screenshot itself is similar enough that it's not a very big deal but I notice that the alt text is very specific and could be misleading (landscape, thin red line).

[2017-09-21 15:03] adammichaelwood commented on #183
I think it's worth the change.

[2017-09-21 15:25] Divya063 commented on #94
@adammichaelwood For specific style guide issues [alex](https://github.com/wooorm/alex) is also quite good and easy to use, instructions to set up node js can be provided which just includes just a single command `sudo pip install nodeenv` and for testing purpose command line would be needed anyway.

[2017-09-22 12:51] ankita240796 commented on #62
I'd like to work on this.

[2017-09-22 13:48] lognaturel commented on #183
@troublemagnet Great! There's agreement on the way to go and the things to do are clear so you can simply comment with `opendatakit-bot claim` to assign the issue to yourself. 😊

[2017-09-22 14:33] lognaturel opened #186 "Jumping between questions while filling a form"
While filling a form, an enumerator can jump between questions or skip to the beginning or end by tapping on the arrow icon at the top of the screen. The icon is not currently all that intuitive so I think including a screenshot would be worthwhile.

Describe what shows up in the jump menu, especially when repeats are involved. This is not obvious as the conversation in https://forum.opendatakit.o

[2017-09-22 14:56] troublemagnet commented on #183
@opendatakit-bot claim

[2017-09-22 15:12] mish24 commented on #186
@opendatakit-bot claim

[2017-09-22 15:13] mish24 commented on #186
@lognaturel Understood! I'll add this

[2017-09-22 16:40] adammichaelwood commented on #183
FYI --
When I made the current screenshot image, I had to fake it -- I literally took an existing phone image from another screenshot into GIMP, deleted the inset image, added a fake barcode and drew the red line.

This is because it was impossible to get a reasonable, live screenshot with the barcode scanner. (As soon as the barcode is in the sights of the scanner, the scan is completed and the i

[2017-09-22 16:41] adammichaelwood commented on #62
Great. Please claim the issue.

[2017-09-22 16:43] adammichaelwood commented on #94
GOOD FIND.

[2017-09-22 16:47] adammichaelwood commented on #181
I think our current thinking is that we don't want to duplicate the xlsform.org site's documentation, but rather point people to it.

It would probably be helpful to have an *Intro to Form Design* doc, that heads up the FORM DESIGN section, with links to the xlsform.org site.

That could start by pulling in the existing form design pge from opendatakit.org. (You could file an issue and work on it.

[2017-09-22 16:48] adammichaelwood commented on #18
Yeah, as i mentioned in another issue, an intro to form design would be a good page to have.

[2017-09-22 16:50] adammichaelwood commented on #179
Not a command line tip, but...

I recently realized that, since a PR is done from someone's branch... you can pull down the PR and then submit your own PR to the contributor's branch.

I did that to help with some editing on PR #172 -- being on the other side of a PR was also a learning experience for me.

[2017-09-22 16:52] adammichaelwood commented on #179
could you explain this more? I'm only a little familiar with `grep` and would like to understand it better.

[2017-09-22 16:56] jumperskirt commented on #66
hm would the video.py module then look something like [this](https://gist.github.com/jumperskirt/3ac22616b705082dbbfc188a9cdd6871)?

[2017-09-22 17:02] adammichaelwood commented on #66
It's hard to tell from a gist. (I don't see where you explicitly output the `<video>` html markup... but maybe that's already dealt with in the HTML builder (?) ).

I'd be thrilled to see a PR that included this, so we could test it.

[2017-09-22 17:04] ankita240796 commented on #62
opendatakit-bot claim

[2017-09-22 17:04] ankita240796 commented on #62
@opendatakit-bot claim

[2017-09-22 17:12] adammichaelwood commented on #121
I think this thread would be a good place to keep random style guide items as they come up. These will all make it into the formal style guide, but for now this can be a quick reference and also a reminder for when that guide is written.

[2017-09-22 17:12] jumperskirt commented on #66
right! i put that in the conf.py file under the setup function, but i suspect that is not correct (when i try to build with the code i've added, there are many error messages, indeed). i will submit a pr and would sure appreciate any guidance towards fixing said errors

[2017-09-22 17:15] adammichaelwood commented on #121
AMERICAN SPELLING

Whenever an English word has multiple spellings (color, colour; gray, grey), the American spelling is preferred.

Notes:

 - This is for consistency, not because we think American English is better.
 - Given the international nature of of the project, the ubiquity of locale-specific spell checkers, and the fact that even the lead maintainer of this repo is a terrible typist, we'

[2017-09-22 17:17] adammichaelwood commented on #121
GESTURES

When describing touch gestures, use the `:gesture:` text role and do not capitalize them.

[code]

[2017-09-22 18:20] troublemagnet commented on #179
Basically `git grep` is used to look for strings or regular expression in the files tracked by git.
It is pretty similar to the `grep` command, however in some cases it can be less wordy than it thus making me use it more than `grep` when working in a git repository.
For additional advantages of using `git grep` over `grep` you might want to read https://stackoverflow.com/questions/17557684/is-it-

[2017-09-22 21:54] nadaa commented on #179
I came across this issue " merge conflict". It happens when two people trying to update the same line in a file from different branches. It is explained [here](https://help.github.com/articles/resolving-a-merge-conflict-using-the-command-line/#competing-line-change-merge-conflicts).

[2017-09-22 23:09] nadaa opened #189 "Complete ADB installation in Windows"
ADB tool will not be installed by default within Android Studio as it is written in the contributor's guide. I have tested this on windows, and I want to add a couple of lines to explain it.

[2017-09-22 23:10] adammichaelwood commented on #189
Great, that would be very helpful.

[2017-09-23 00:53] #62 closed

[2017-09-23 01:06] adammichaelwood opened #191 "Fix bad variable naming in conf.py related to footer text."
The variables names introduced in #188 and #130 are bad practice:
prevar1, prevar2, prevar4, link1, link2, hyper1, hyper2.... yikes.

If you need a quick lesson on variable naming:
http://wiki.c2.com/?GoodVariableNames

But, of course, keep to PEP8 for casing/format:
https://www.python.org/dev/peps/pep-0008/#naming-conventions

@ankita240796 or @troublemagnet should solve this, since they created

[2017-09-23 01:11] Divya063 commented on #100
@adammichaelwood using adb with the custom Android emulator would take lot of time as the android emulator is very slow, why not use [genymotion](https://www.learn2crack.com/2013/08/setup-genymotion-windows.html) which is very fast as compared to custom android emulator

[2017-09-23 01:17] #161 closed

[2017-09-23 01:22] adammichaelwood commented on #100
The "canonical" use of `adb` is with an actual device, attached via USB.

We provide some details on using Android Studio's emulator, but I don't think we want to suggest or officially support using other emulators -- especially since genymotion is a commercial, proprietary product.

[2017-09-23 03:14] adammichaelwood opened #192 "Create FAQ doc based on existing FAQ doc"
(This has already been worked on, but it didn't have an issue. All PRs should be based on existing issues.)

[2017-09-23 03:42] ankita240796 commented on #191
@opendatakit-bot claim

[2017-09-23 04:44] ankita240796 commented on #17
May I take this up?

[2017-09-23 04:52] adammichaelwood commented on #17
Yes. I would add it as another document in the new Briefcase TOC.

[2017-09-23 04:55] #136 closed

[2017-09-23 05:08] ankita240796 commented on #101
I'd like to take this up. Can you please guide me with any source from where I can get some extra information about this issue?

[2017-09-23 05:11] ankita240796 commented on #17
@opendatakit-bot claim

[2017-09-23 06:46] ankita240796 commented on #183
![barcode1](https://user-images.githubusercontent.com/15226041/30770870-e3f339e4-a058-11e7-997f-bf59bdd6c312.png)

@troublemagnet @adammichaelwood You may use this if it helps!

[2017-09-23 07:00] Divya063 commented on #94
@adammichaelwood I would like to work on this

[2017-09-23 09:40] Divya063 commented on #170
@adammichaelwood  Is this issue #57 in progress? I was thinking to link Installation guide of ODK Aggregate with the Encrypted Forms

[2017-09-23 10:33] ankita240796 opened #195 "Fix contri_guide link in conf.py"
![image](https://user-images.githubusercontent.com/15226041/30774940-ebace7b2-a0a7-11e7-9abe-91e950ae23e8.jpg)

[2017-09-23 10:34] ankita240796 commented on #195
I'd like to take this up. Do we need a link in this part?

[2017-09-23 10:39] ankita240796 commented on #195
@opendatakit-bot claim

[2017-09-23 14:08] mish24 commented on #195
@ankita240796 Hey! Which specific link are you talking about in `conf.py`? No links are specified yet and everything is commented.

[2017-09-23 14:13] ankita240796 commented on #195
@mish24 The footer section commented as 'At bottom of every document' has a variable declaration link3=contributing.html.

[2017-09-23 14:31] adammichaelwood commented on #94
I think this project is going to be substantial enough that it'll be worth doing as part of the Outreachy internship period. So I think let's not claim it or start working on it until then. If you'd like to include it in your project proposal, that would be great.

[2017-09-23 14:39] #191 closed

[2017-09-23 14:51] ankita240796 commented on #26
May I work on this?

[2017-09-23 16:12] ankita240796 commented on #26
May I work on this ?

[2017-09-23 16:44] ankita240796 commented on #57
Do we require a new doc on Aggregate Installation?

[2017-09-23 18:10] troublemagnet commented on #112
@adammichaelwood Sir Can you elaborate on what is to be done as a part of this issue?

[2017-09-23 18:19] troublemagnet commented on #91
if @tsah20 is not working on this, can I take this up?

[2017-09-23 18:39] troublemagnet commented on #54
@adammichaelwood  May I work on this if @mish24 is busy on some other issue?

[2017-09-23 19:15] lognaturel commented on #112
I'm sorry, I forgot to search and filed a duplicate at #186! 😳 Since that one has been claimed, let's close this one.

[2017-09-23 19:15] #112 closed

[2017-09-24 04:36] troublemagnet commented on #28
@opendatakit-bot claim

[2017-09-24 17:59] nadaa opened #203 "Adding a scrollbar on toc"
I find it difficult to navigate toc using the right scrollbar. I think it will be helpful to add one on the sidebar.
What do you think?

[2017-09-24 18:32] ankita240796 commented on #203
@opendatakit-bot claim

[2017-09-25 07:05] lognaturel commented on #203
@nadaa I see what you mean! It looks like the sidebar does scroll independently when a scroll gesture is used but there is no visible scrollbar.

@ankita240796 it would be good to get some feedback from @adammichaelwood before adding this.

Here's an advanced `opendatakit-bot` tip -- you can label issues using the `label` command. For example, in this case, you could have used

opendatakit-bot lab

[2017-09-25 07:05] lognaturel commented on #203
@opendatakit-bot label discussion

[2017-09-25 07:06] lognaturel commented on #203
@opendatakit-bot label discussion

[2017-09-25 07:06] lognaturel commented on #203
@opendatakit-bot label "discussion"

[2017-09-25 12:01] ankita240796 commented on #203
I got that @lognaturel. Thanks !

[2017-09-25 12:01] nadaa commented on #203
@lognaturel, thanks for sharing bot commands, first time to know about them.

[2017-09-25 16:26] adammichaelwood commented on #203
@ankita240796 -- yes, please don't claim issues unless they have been discussed.

As @lognaturel mentioned -- the sidebar does, in fact, scroll.
@nadaa does knowing that make it easier to navigate?

[2017-09-25 16:38] adammichaelwood opened #204 "Fix build command in docs; mention `./b.sh`"
The `sphinx-build` command shown in the docs is not consistent with what we do when we deploy.

The command should be:

[code]

---

It would be good to add a `tip` in that section to use `./b.sh`
This is a convenience/utility script I wrote that saves typing.
In the future, it will become the canonical build script (as we incorporate testing, etc., into the docs) so it would be good to get used t

[2017-09-25 16:39] troublemagnet commented on #204
@opendatakit-bot  claim

[2017-09-25 16:41] adammichaelwood commented on #91
I'm going with yes, as we have not heard from @tsah20 in two weeks.

Be sure to read the relevant links above, and also look at other forum support threads to see what sorts of things people are using the constraint regex for.

This doc would become part of *Form Design*

[2017-09-25 16:44] troublemagnet commented on #91
@adammichaelwood Sure, I'm on it.

[2017-09-25 16:46] ankita240796 commented on #203
@adammichaelwood I'll be careful about that in future.

[2017-09-25 16:47] adammichaelwood commented on #54
Yeah. @mish24's commit related to this wasn't actually what we were thinking was needed here.

I think what would be good is a single doc, in the *Collect* section, that simply enumerates each menu  and it's items. So there's a section for the Collect Home screen, and it lists each item there and what it does, then a section for General Settings, and a section for Admin Settings.

IF a menu item o

[2017-09-25 16:50] adammichaelwood commented on #112
That's my fault too, for not writing a description.
Before we had all these awesome contributors from Outreachy, I was just in my own little world, filing issues all for myself...

[2017-09-25 16:53] adammichaelwood commented on #204
BTW - i just updated the description, because (hilariously) I typed the command wong the first time.
It is correct now.

[2017-09-25 17:13] #17 closed

[2017-09-25 17:13] #195 closed

[2017-09-25 17:26] ankita240796 commented on #57
@adammichaelwood Can you tell me what exactly is needed in this doc?

[2017-09-25 17:38] ankita240796 commented on #97
@lognaturel Should I make a new doc for this ?

[2017-09-25 18:22] adammichaelwood commented on #57
A doc on installing Aggregate.

 - This will be the first new doc in a new toc directive for Aggregate
 - It would be great to have a page before install, in that TOC, with a brief overview of Aggregate, like we have for Collect

The install doc should describe ways to install Aggregate, and the easiest way to start is to follow existing install instructions and copy/edit/rewrite as needed.

The *

[2017-09-25 18:24] adammichaelwood commented on #97
It would be a helpful addition to *Form Design*.

Be sure you are familiar with the xlsform.org specification, and actually try out the different permutations. It might even be good to create one large example xlsform with your examples.

[2017-09-25 18:28] ankita240796 commented on #97
Sure, I will do that. THanks!

[2017-09-25 18:29] ankita240796 commented on #57
I got that @adammichaelwood . Thanks!

[2017-09-25 18:29] ankita240796 commented on #57
@opendatakit-bot claim

[2017-09-25 20:28] nadaa commented on #203
@adammichaelwood, I prefer to have a scrollbar on the sidebar. It will help navigating once the toc gets bigger.

[2017-09-25 20:31] adammichaelwood commented on #203
i'd be open to someone (@ankita240796? @nadaa?) trying out a solution and letting us see what it might look like and how much modification this requires. It might be little more than a couple lines of CSS.

[2017-09-26 05:05] ankita240796 commented on #203
@adammichaelwood I'll try doing that. Thanks!

[2017-09-26 06:42] nadaa opened #208 "fix git in windows"
I fixed the line of setting git upstream in windows.

[2017-09-26 07:25] Divya063 commented on #3
@lognaturel I would like to work on this

[2017-09-26 08:50] Divya063 commented on #7
@lognaturel Can I work on this?

[2017-09-26 08:54] lognaturel commented on #7
I think what needs to be included are the first two sentences from the README ("pyxform is a Python library that makes writing XForms for ODK Collect and enketo easy by converting XLS(X) spreadsheets into XForms. It is used as a library in a number of tools including the ODK online converter and Ona."), a brief sentence describing that the tool can also be run directly from the command line, the `

[2017-09-26 09:05] lognaturel opened #210 "Create Android desktop shortcut to launch specific form"
https://forum.opendatakit.org/t/opening-a-form-automatically-when-collect-starts/1649 gives basic instructions. They should be verified with latest Android versions. Collect now supports 4.1 and above so I don't think we need instructions for older devices.

http://www.samsung.com/uk/support/skp/faq/1057750 has some good background on Widgets.

[2017-09-26 09:06] #144 closed

[2017-09-26 09:14] Divya063 commented on #7
@lognaturel Thanks for the information :smile:

[2017-09-26 09:15] Divya063 commented on #7
@opendatakit-bot claim

[2017-09-26 09:17] lognaturel commented on #3
@pari0770 expressed some interest in it. @pari0770 did you want to explore this one?

One additional thing to document is that PBF tiles are not supported -- https://github.com/opendatakit/collect/issues/1093#issuecomment-306382003

[2017-09-26 10:05] Divya063 commented on #94
@adammichaelwood Thanks for the suggestion :smile:

[2017-09-26 10:14] pari0770 commented on #3
@lognaturel yes, I am exploring this

[2017-09-26 11:01] lognaturel commented on #181
For the workaround described in the "repeat-groups are not respecting the jr:count setting after a change" section, the form from [here](https://github.com/opendatakit/collect/issues/868#issuecomment-302466153) should be included to illustrate the technique.

[2017-09-26 11:42] yanokwa opened #212 "Update Briefcase installation guide to recommend Java 8"
Java 1.7 was deprecated on April 2015 and so it does not receive security updates. It's probably irresponsible for us to target Java 1.7 and yet the Briefcase installation guide says to use Java 7. It should use Java 8!

[2017-09-26 11:45] ankita240796 commented on #212
@opendatakit bot claim

[2017-09-26 11:47] lognaturel opened #213 "Describe when calculates, constraints and relevancy are recomputed"
This will require a fairly deep understanding of Collect and JavaRosa and/or experimentation.

[2017-09-26 12:22] #189 closed

[2017-09-26 12:22] Divya063 commented on #210
@lognaturel This will work on all android versions higher than 4.1

[2017-09-26 12:22] #208 closed

[2017-09-26 12:25] adammichaelwood commented on #3
@pari0770 Please claim the issue if you are working on it.

[2017-09-26 12:28] adammichaelwood opened #214 "PR Template Question unclear"
I wrote:

What I meant was:

 - What will you or someone else now have to do that wasn't needed before?
 - What future work are we committing to because of this PR?

Apparently that was not clear.

Is this a bad question? Is there a better way to say it?

[2017-09-26 12:31] pari0770 commented on #3
@opendatakit-bot claim

[2017-09-26 12:35] adammichaelwood commented on #210
This is a good item for #106

[2017-09-26 12:36] #204 closed

[2017-09-26 12:38] #183 closed

[2017-09-26 12:46] troublemagnet commented on #214
@adammichaelwood  Oh sir now when you specify what it means to ask, I can relate. However when I filed a PR I misinterpreted it as what new work has been done in the PR. And I was going to file an issue about duplication of the question because the first one was pretty similar. But now it makes sense. However

conveys it more clearly, that's what I feel.

[2017-09-26 12:48] yanokwa commented on #212
@ankita240796 You might have to write a new comment with `@opendatakit-bot claim` because your original comment was missing a hypen. I don't think edits will work.

[2017-09-26 12:48] ankita240796 commented on #212
@opendatakit-bot claim

[2017-09-26 12:50] lognaturel commented on #214
Agreed with @troublemagnet!

[2017-09-26 13:31] Shruti9520 commented on #179
@adammichaelwood  I think "squashing commits" before making a pull request is a good idea. It will help keep the growing history short and concise. [Here](https://www.devroom.io/2011/07/05/git-squash-your-latests-commits-into-one/) is the complete guide on " How to squash commits?"

[2017-09-26 13:38] #212 closed

[2017-09-27 13:22] ankita240796 commented on #97
@opendatakit-bot claim

[2017-09-27 16:34] nadaa commented on #214
Maybe you can say " What issues might this PR open?".

[2017-09-27 17:12] #57 closed

[2017-09-27 19:33] troublemagnet commented on #26
@opendatakit-bot claim

[2017-09-27 19:36] adammichaelwood commented on #26
@troublemagnet:
@ankita240796 already asked to work on this. I should have responded earlier.

[2017-09-27 19:37] troublemagnet commented on #26
@adammichaelwood Sure sir I'll work on other issues.

[2017-09-27 21:40] ankita240796 commented on #26
Thanks @adammichaelwood !

[2017-09-27 22:07] ankita240796 opened #224 "Improve Aggregate usage and install guide"

[2017-09-27 22:07] ankita240796 commented on #224
@opendatakit-bot claim

[2017-09-27 22:39] ankita240796 commented on #224
@adammichaelwood I opened this issue so that I can make a PR improving the Aggregate usage guide addressing this issue. I hope that is fine!

[2017-09-27 22:40] ankita240796 commented on #224
@opendatakit-bot unclaim

[2017-09-28 06:21] ankita240796 commented on #224
I also noticed that some of the images which I added in the installation of Aggregate are not clear. I would replace them as well.

[2017-09-28 06:49] mish24 commented on #181
@adammichaelwood I am done writing the base Form Design doc, so I'll start working for this now!
@opendatakit-bot claim.

[2017-09-28 06:52] mish24 opened #225 "Make Form Design a separate section"
Currently I have added the `Form Design` documents in the same section as form building. But they have many smaller parts like guidelines, workaround and tips, etc. I wanted to get some inputs whether all this should be added on separate section in the docs. @adammichaelwood @lognaturel @yanokwa What do you think?

[2017-09-28 06:57] Divya063 commented on #38
@adammichaelwood Can I work on this?

[2017-09-28 06:58] mish24 opened #226 "Add "Create Issue" template"
Here I want to add a similar template as there is for PR now. This would have:
* Guide for title format (bug fix, suggestion)
* Description
* Steps to recreate (if applicable)
* People to notify
* Resources or links for reference which the contributor can provide us.

[2017-09-28 16:38] adammichaelwood commented on #121
XML / HTML

`<tag>` --- The actual typed code is a *tag*

`<thing>Stuff</thing>` --- The logical unit of a document is an *element*

`<elementName attribute="value">Content</elementName>` --- the token used for the tags is what names the element as a whole. But the whole thing is an element, not a tag. An element has an attribute; a tag does not have an attribute. An element's attribute has a valu

[2017-09-28 16:49] adammichaelwood opened #227 "Add csvtable to contributor guide"
The csvtable directive is a much easier way to put tables in an rst document than the other options.
I've already used it extensively in the form-widgets page, but it isn't mentioned in the contributor guide. We should add it, as I think it would make contributor lives easier.

[2017-09-28 16:55] ankita240796 commented on #227
@opendatakit-bot claim

[2017-09-28 17:04] #7 closed

[2017-09-28 17:14] adammichaelwood commented on #227
http://docutils.sourceforge.net/docs/ref/rst/directives.html#id4

The full details don't need to be covered -- just enough to make sense. Then you can link to the full details "for more information" or something.

We should talk (here!) about whether to support/encourage the use of external csv tables.

[2017-09-28 17:21] ankita240796 commented on #227
Thanks for the reference @adammichaelwood !

[2017-09-28 17:23] adammichaelwood commented on #225
I think a single section like we have is good. I'm open to a different name is "Form Design" isn't quite clear.

[2017-09-28 17:36] ankita240796 opened #228 "Add documentation on upgrading Aggregate"
We should have a new doc on how to upgrade Aggregate with details of various versions. @adammichaelwood  What do you think?

[2017-09-28 17:43] adammichaelwood opened #229 "XForm language"
We need to talk about the meaning and usage of several words and concepts related to XML and XForms.

 - block
 - instance
 - model
 - variable

(Probably a few other things.)

Between @mish24's work on pulling in the Form Design documents, and my work on the OpenRosa standards, this is becoming critical to clear-headed thinking and writing... and my current feelings are that the existing document

[2017-09-28 17:47] adammichaelwood commented on #228
Sure, that sounds reasonable.

 - Is there existing content to pull in on this?
 - Are there specific challenges that people are having? (Check the forum for this.)

[2017-09-28 17:49] adammichaelwood commented on #226
I have mixed feelings about this, but I'm willing to give it a try.

I think we need to keep in mind that most of what we have for issues in docs are not bugs, but rather new documents, new sections, or things like that. So we don't want a lot of things people have to delete every time.

But we can try it out, iterate on it, and either use it or get rid of it if it doesn't seem helpful.

[2017-09-28 17:53] ankita240796 commented on #228
[](https://github.com/opendatakit/opendatakit/wiki/Aggregate-Release-Notes#general-upgrade-steps)
This link has the upgrade steps and yes I checked out the forum. People have been raising issues on how to upgrade and various problems while upgrading.

[2017-09-28 17:56] ankita240796 commented on #228
[This link](https://github.com/opendatakit/opendatakit/wiki/Aggregate-Release-Notes#general-upgrade-steps) has upgrade steps and yes I checked out the forum. People have been raising issues about how to upgrade and various problems while upgrading Aggregate.

[2017-09-28 17:59] adammichaelwood opened #230 "Create issues out of old docs pages"
I am going to triage all of the pages on the old site, adding issues here for those that need to be pulled in, with notes about needed edits, etc.

[2017-09-28 18:08] ankita240796 commented on #228
@adammichaelwood If this looks fine, I would like to work on this.

[2017-09-28 18:13] adammichaelwood commented on #228
yes, that'd be great

[2017-09-28 18:15] ankita240796 commented on #228
@opendatakit-bot claim

[2017-09-28 19:35] adammichaelwood commented on #229
**What is the name of the element immediately inside `<instance>`, which (seems to) define the form's structure?**

In existing docs, the following structure is discussed and shown by example:

[code]

but that element isn't always labeled `data` -- for example, in the all-widgets form (as output by the online XLSForm utility):

[code]

[2017-09-28 19:59] adammichaelwood commented on #229
**What does the word *model* mean?**

 - Does it mean different things in different contexts?
 - Can we limit its meaning to one thing going forward?

Some of the documentation *seems to* refer to a blank form as a "model", but it isn't always clear if "model" in that context refers to the whole XML document, or just a portion of it.

Meanwhile, `model` is an element in a blank XForm.

[2017-09-28 20:04] adammichaelwood commented on #229
**What is the relationship between the blank XForm and the XForm that represents a complete form?**

In reality (I think), a person answers a bunch of question in-app, and a new XML document is generated to include those answers. But some of the documentation seems to suggest a mental model in which the XForm is "filled in" and submitted.

I know some of this is just due to the mental model of fil

[2017-09-29 09:44] lognaturel commented on #229
At a high level, I think that all things XForms and XML should now live in the developer docs with most of it at https://opendatakit.github.io/xforms-spec/. There are some rare cases in which users may want to edit XML but I don't think it happens commonly at all. That has some implications for @mish24's #217, I think the contents there will need to be heavily revised. It would be ok to first pull

[2017-09-29 13:15] #170 closed

[2017-09-29 13:19] #214 closed

[2017-09-29 14:45] mish24 commented on #226
@adammichaelwood Yes. That's true. I opened one PR which just has everything has comments for reference.

[2017-09-29 16:14] adammichaelwood opened #237 "XML highlighting warning (?)"
see #206
xml highlighting skipped-- some problem with the lexer...

[2017-09-29 16:18] adammichaelwood opened #238 "Quick update to README.md"
we're hardly "still new" and most of the useful info has found at least some kind of place in the docs.

[2017-09-29 16:20] mish24 commented on #238
Let's remove "But still new" and add something like "in progress"?

[2017-09-29 16:29] adammichaelwood commented on #226
I've merged. I'm keeping the issue open as a place to discuss whether this works and is helpful.

[2017-09-29 16:41] adammichaelwood commented on #229
I gathered the tag can have any label. Do we refer to that abstract idea as anything other than "the child of the instance"?

[2017-09-29 16:43] adammichaelwood commented on #229
It does. But the more precise word would be "element" or "document node"

[2017-09-29 16:43] adammichaelwood commented on #229
This fact, by itself, covers a multitude of issues.

[2017-09-29 16:46] Divya063 commented on #237
@adammichaelwood I guess this was due to the syntax error in the XML code

[2017-09-29 16:47] adammichaelwood commented on #237
was it just one instance? or all of them?

[2017-09-29 16:59] Divya063 commented on #237
The first three lines of xml code were creating the problem, @ankita240796 suggested this

xmlns:h="http://www.w3.org/1999/xhtml"
xmlns:orx="http://openrosa.org/xforms/">
@Divya063 Remove the three code lines starting from line 90 and replace them with this. This will fix your error.

and this got fixed

[2017-09-29 17:02] adammichaelwood commented on #237
awesome

[2017-09-29 17:02] #237 closed

[2017-09-29 18:19] #192 closed

[2017-09-29 18:29] #54 closed

[2017-09-29 18:35] adammichaelwood opened #239 "Form Design Page *and Children* from old site (XForm Docs discussion)"
@mish24 has recently worked on pulling in the [Form Design Page](https://opendatakit.org/help/form-design/) -- #217

But that page has a bunch of child pages dealing with specific XForm issues:

- Binding
- Body
- Guidelines
- Data Preloading
- Cascading Selects
- External Itemsets
- External Apps
- OpenStreetMap
- iText
- Examples
- XLSForm
- Gotchas and Workarounds

Do we think all this should b

[2017-09-29 18:44] mish24 commented on #239
we'll have XForm specific repo for documentation? The points mentioned here are important for understanding forms in general. Some of these things are important for *form breakdown*, and others for *form creation*, and there two parts make up the entire content of Form Design.

[2017-09-29 18:49] mish24 commented on #225
I think Form Design should be under a different section since it's more about understanding the **anatomy of the form**, and how can we create our own forms efficiently. Although I am not sure where the line should be drawn the docs. @lognaturel Can you help?

[2017-09-29 18:49] adammichaelwood commented on #239
Exists already:

https://github.com/opendatakit/xforms-spec

It's really for the specification only. In theory, usage tutorials and human-readable explanations could (should?) belong here in docs. But it's tough to delineate precisely where the line is.

[2017-09-29 18:51] mish24 commented on #239
@adammichaelwood  Exactly. It's difficult to draw a line here since everything is inter-dependent and nothing can be left out if someone is actually following these docs for understanding.

[2017-09-29 19:13] ankita240796 commented on #238
We can replace "But still new" with "Ongoing" !

[2017-09-29 19:25] adammichaelwood commented on #225
I should have started the discussion of #239 in this thread, but it didn't occur to me. Since there's currently more details there, I'm closing this one and directing further discussion to #239

[2017-09-29 19:25] #225 closed

[2017-09-29 19:49] mish24 opened #242 "Add Collect Release Notes doc"
## Description

From 1.1.7 to the latest version (Collect 1.4.12?) - just mentioning what new features were added, changes, deletions etc.

@adammichaelwood What do you think?

[2017-09-29 19:53] adammichaelwood commented on #242
Possibly...

Do @lognaturel or @yanokwa have an opinion?

I think it could be especially cool if the notes linked to relevant info in docs, where applicable.

[2017-09-29 20:02] adammichaelwood opened #244 "Image Based Forms"
Old page:
https://opendatakit.org/help/image-based-forms/

I think this page can be deprecated altogether. Thoughts?

1. Is it still true that Android has poor language support for non Latin scripts like Hindi?
   - And if it is, could we just mention using images in place of text in the Tips section?
2. Is there anything about using images that is here,that isn't clear from http://docs.opendataki

[2017-09-29 20:04] adammichaelwood opened #245 "Verifying Downloads"
This page needs to be pulled in and edited.
I'm not sure where the best place for it is... maybe Reference?

https://opendatakit.org/help/verifying-downloaded-files/

[2017-09-29 20:08] mish24 commented on #244
For 1, yes it started permanently from Android 4.3 I guess. Otherwise just boxes.

[2017-09-29 20:08] adammichaelwood opened #246 "Training Guides"
https://opendatakit.org/help/training-guides/

This page has a long blog-post-like guide, which may or may not belong in the docs.
It also has a list of links to other resources, which may or may not belong in the docs.

Thoughts?

I'm not opposed to adding a Helpful Links page in Reference.
Or adding a Resources and Guides section, with this content on a page, and a page of links, and maybe some

[2017-09-29 20:10] adammichaelwood commented on #244
4.3 and above have good support for Hindi?

[2017-09-29 20:11] mish24 commented on #242
Linking to docs might be tricky but possible in some cases and not in others. Is it a good idea to include links to the issues in Collect repo for them?

[2017-09-29 20:14] adammichaelwood commented on #242
Yeah, I'm imagining just when would be easier and relevant -- like in the release that adds a new widget, linking to the doc for that widget in form-widgets

Linking to the issue would be helpful for some people also -- the real question is whether it would be helpful enough to be worth the effort.

[2017-09-29 20:14] ankita240796 commented on #245
May I work on this?

[2017-09-29 20:16] adammichaelwood commented on #245
Sure.
As much as possible, try actually doing the verification steps yourself.
And mention in the PR what you couldn't test. (For example, if you're not on Windows, you can't test the Windows procedure. etc.)

[2017-09-29 20:18] ankita240796 commented on #245
Sure @adammichaelwood I will do that. Thanks!

[2017-09-29 20:18] ankita240796 commented on #245
@opendatakit-bot claim

[2017-09-29 20:22] mish24 commented on #244
Yes Hindi works fine for 4.3 and above. For 2, adding media to XLSForm is included in form widgets and again in the form design doc (to be added) as well. Only new thing is "how to add localized media"

[2017-09-29 20:30] adammichaelwood opened #247 "Should we have a Resources section?"
There's several pages of information in the old site that are just outside of scope for a conventional documentation site, but which might be helpful. For example:

 - links to third party tutorials
 - information about other tools in the ODK/XForm ecosystem
 - information about companies that provide consultation, services, and development around ODK

This could be put in a Resources section. But

[2017-09-29 20:36] nadaa commented on #159
@adammichaelwood, shall I close this issue?
This idea was great, but it didn't move forward. It stopped in the middle.
@Komal-Agarwal96 suggested some good points while trying to follow the steps, but she added new stuff without explanation. I couldn't approve what she wrote if it doesn't make sense.

[2017-09-29 20:40] adammichaelwood commented on #159
Why don't you see if there's any good suggestions/edits that are worth making into your original, and submit a PR that you feel improves your doc. Have that PR close this issue.

[2017-09-29 20:43] adammichaelwood opened #248 "XLSForm Introduction"
https://opendatakit.org/use/xlsform/

This page needs to be edited and brought into the current docs.
Links should be updated to refer to current docs whenever the content is present here.
This should be in the Form Building TOC, above Form Widgets.

[2017-09-29 20:44] troublemagnet commented on #248
Claim

[2017-09-29 21:00] adammichaelwood opened #249 "Aggregate Usage Documentation"
The recently pulled-in doc on Aggregate Use (http://docs.opendatakit.org/aggregate-use/) is really just a handful of tips and troubleshooting points from the old site.

We need a real usage guide. This may be several pages.

This requires a bit of discussion and planning as someone takes it up.

[2017-09-29 21:01] adammichaelwood opened #250 "Aggregate Deployment Planning"
https://opendatakit.org/use/aggregate/deployment-planning/

This page needs to be edited and pulled into the current docs.

[2017-09-29 21:07] adammichaelwood opened #251 "Aggregate Data Transfer"
https://opendatakit.org/use/aggregate/data-transfer/

This doc needs to be edited and pulled into the current docs.
The info needs to be checked as well, as some of the third-party services may have changed their process or features.

[2017-09-29 21:08] adammichaelwood opened #252 "Aggregate -- OAuth2 info"
https://opendatakit.org/use/aggregate/oauth2-service-account/

This document needs to be reviewed, fact checked, edited and pulled in.
It is related to #251

[2017-09-29 21:12] ankita240796 commented on #249
@adammichaelwood I have updated a the usage docs and made a [PR](https://github.com/opendatakit/docs/pull/231) on that. Can you please review those changes.

[2017-09-29 21:14] adammichaelwood commented on #249
cool! Sorry I missed that.

[2017-09-29 21:15] #224 closed

[2017-09-29 21:19] adammichaelwood commented on #249
Those were good improvements, but the document itself isn't really a usage guide at the moment.

Let's start by having you iterate on that, though.

Can you pull the usage instructions up to the top and organize the information a bit? A series of unrelated bullet points is not a good doc structure.

[2017-09-29 21:20] ankita240796 commented on #249
Ya sure, @adammichaelwood I will work on that !

[2017-09-29 21:25] adammichaelwood opened #253 "Form Uploader"
https://opendatakit.org/use/form-uploader/

This page needs to be edited, checked, and pulled into the current docs.
(Whoever does this should actually DL the tool and use it.
This requires also having Aggregate set up, so make sure you can do that, too.)

This will be a new doc in the Aggregate TOC.

[2017-09-29 21:27] adammichaelwood opened #254 "Validate"
https://opendatakit.org/use/validate/

This page needs to be checked, edited, and pulled in.
The person doing this should actually install and use the tool.

Also, the existing page is poorly organized (it includes usage instruction under the heading "Installation"), so it could stand a little re-writing for clarity.

This will be a new doc in the Form Builder TOC.

[2017-09-29 21:55] adammichaelwood opened #255 "Security and Privacy Info"
https://opendatakit.org/about/security-and-privacy-statement/

This page needs to be pulled in to the current docs.
Line edits for typos, and of course reformatting for rst syntax -- but otherwise it should not be rewritten.

Add to Reference TOC.

[2017-09-29 22:16] nadaa commented on #254
I will work on this @adammichaelwood.

[2017-09-29 22:22] ankita240796 commented on #251
@adammichaelwood This section can be added in the Aggregate usage guide itself. What do you think?

[2017-09-29 22:25] nadaa commented on #254
@opendatakit-bot  claim

[2017-09-29 22:26] troublemagnet commented on #255
@opendatakit-bot claim

[2017-09-29 22:36] troublemagnet commented on #250
@opendatakit-bot  claim

[2017-09-29 23:15] #248 closed

[2017-09-30 00:02] adammichaelwood commented on #230
done, except for:

 - ODK Settings Framework (?)
 - ODK 2.0

I *think* both of those are out of scope for current docs.

[2017-09-30 00:02] #230 closed

[2017-09-30 03:08] Divya063 commented on #252
@opendatakit-bot claim

[2017-09-30 03:14] Divya063 commented on #253
@opendatakit-bot claim

[2017-09-30 04:53] Divya063 commented on #246
@adammichaelwood I think it would be nice to have helpful links page in reference , I went through some of the links and found some of the links really helpful like Step by step for using ODK from start to finish](https://groups.google.com/forum/#!msg/opendatakit/wxXDlVl83FI/gusIaaqdYooJ) but some of the links are not available(outdated )

[2017-09-30 08:54] troublemagnet commented on #203
@adammichaelwood  now that TOC has grown, it has become difficult to navigate through the table of contents. I guess we should have a scroll bar.

[2017-09-30 09:16] troublemagnet commented on #226
I had a doubt. Why is one of the titles as BUG FIX? Shouldn't it only be Bug? I mean there're cases when contributors find bugs and they create an issue so they could fix it, in that case BUG FIX is fine I guess. but what if a non tech person wishes to report a bug so that the developers can fix it. In that case BUG FIX doesn't make sense.

[2017-09-30 13:21] #255 closed

[2017-09-30 13:22] adammichaelwood commented on #203
there is a scrollbar, you just can't see it. just like on the page as a whole

[2017-09-30 13:24] adammichaelwood commented on #226
also, i'm not sure how often a docs issue is going to be a bug that needs fixing.

[2017-09-30 13:51] troublemagnet commented on #203
@adammichaelwood true sir but in the absence of a scroll bar not everyone will know that there's more content in the TOC.

[2017-09-30 15:06] nadaa commented on #254
@opendatakit-bot label  "in progress"

[2017-10-01 11:36] ankita240796 opened #261 "Update external links as reference to docs"
External links need to be replaced as reference to doc as the docs are being updated.

**Any pull requests for this issue should use addresses instead of closes since docs are being continuously updated.**

[2017-10-01 11:36] ankita240796 commented on #261
@opendatakit-bot claim

[2017-10-01 18:21] ankita240796 commented on #179
- <code>git diff</code> shows the changes that are not staged yet.
For more details on git diff you may go through this: https://git-scm.com/docs/git-diff
- <code>git commit --amend -m "New commit message"</code>  to change commit message of latest commit which is not pushed

[2017-10-02 11:54] troublemagnet commented on #27
@adammichaelwood  sir this has been already been documented.

[2017-10-02 11:55] troublemagnet commented on #6
@adammichaelwood  this has been done too.

[2017-10-02 16:15] #253 closed

[2017-10-02 16:23] #245 closed

[2017-10-02 16:25] #227 closed

[2017-10-02 16:29] #27 closed

[2017-10-02 16:29] #6 closed

[2017-10-02 16:33] #26 closed

[2017-10-02 16:35] ankita240796 commented on #101
@lognaturel @adammichaelwood  I would like to work this. Can you guide me how can I get some information on this. Thanks!

[2017-10-02 16:37] ankita240796 commented on #11
@opendatakit-bot claim

[2017-10-02 16:41] adammichaelwood commented on #101
- Search the existing site first, there might be mentions of this here and there in docs about Aggregate in general.
 - Search the forum. It is likely other people have asked about it and the responses to those questions will provide some info.
 - ODK Aggregate saves its data in an SQL database. So general information about backing-up databases would be true here, as well. (Though you'd want to to

[2017-10-02 16:43] ankita240796 commented on #101
Thanks @adammichaelwood !

[2017-10-02 16:43] ankita240796 commented on #101
@opendatakit-bot claim

[2017-10-02 16:58] Divya063 commented on #10
@yanokwa I would like to work on this

[2017-10-02 17:09] Divya063 commented on #56
@lognaturel Does this need to be placed in a separate doc?

[2017-10-02 18:00] #250 closed

[2017-10-03 01:22] SnehaniranjanaSR commented on #251
Hi I am Sneha, I am new to ODK, trying to contribute something to the forum, Can I help you with anything in this Aggregate Data Transfer? Let me know how I may help. I have a Database programming and Reporting Experience.

[2017-10-04 06:04] ankita240796 commented on #47
@adammichaelwood I think we should put the downloadable files in the doc itself instead of giving links to old docs. We can place them in a new folder _downloads_ and then link them by using <code> :download:`file </path/to/file>` </code>

[2017-10-05 07:22] ankita240796 commented on #261
@opendatakit-bot unclaim

[2017-10-05 17:04] adammichaelwood opened #271 "Add PDF output"
We *could* build a PDF as part of the build process, and make it available at some URL
This came up in the forum.

I don't know if it is actually a good idea:

 - The docs change enough that I don't know whether a PDF would be valuable
 - Some amount of work would be required to get the PDF template just right, so the value has to be weighed against that work

@yanokwa would have to add pdf deploy

[2017-10-05 17:08] adammichaelwood opened #272 "301 Redirects in case of page renaming"
Came up in Slack, at suggestion og @lognaturel

A page's URI in Sphinx is determined by its filename (not it's place in the TOC).
There may be cause from time to time, to rename a document's file.
We should probably have a way of mapping old names--> new names.

We could watch PRs for file name changes (git can surface these), and then append a line to some redirect-config file, and then deploy th

[2017-10-05 17:45] #11 closed

[2017-10-06 17:18] troublemagnet commented on #92
@adammichaelwood if @mish24 is busy with other issues, may I work on this?

[2017-10-06 17:41] ManognaMutyala commented on #159
Can I add few more images to the documentation regarding this?

[2017-10-06 19:36] yanokwa commented on #271
A lot of our users don't have a great connection and outdated docs are better than no docs. Further, this might be a reasonable thing for a contributor to take on.

To let people know that the PDF isn't up-to-date, we could put something in the footer that says

[2017-10-06 20:10] yanokwa opened #275 "Test Slack integration"
## Description

[2017-10-06 20:10] #275 closed

[2017-10-06 20:53] yanokwa commented on #10
@adammichaelwood Can you review these sources and see if it makes sense to pull some of these in? If so, a good first set might be to reach out to the various authors and ask for permission to use their content. I'm glad to be cc'ed on those emails or find the right people to contact if that'd be helpful.

Once we have that, then it might be easier to break this up into an issue per source and tag

[2017-10-06 23:19] #272 closed

[2017-10-06 23:28] adammichaelwood opened #276 "Document page redirect/renaming process"
If a document file (`*.rst`) is renamed, it affects the URI, since doc URIs are just the domain + the file name (without the extension).

A brief section needs to be added to the contrib guide to say that if you rename a file, the PR that renames the file must also add the redirect.

See #273 for how to add a redirect.

[2017-10-08 09:17] troublemagnet commented on #271
@adammichaelwood Sir may I start working on it?

[2017-10-09 15:47] lognaturel opened #283 "Limitations of time widget"
The time widget doesn't work well across daylight savings time boundaries because it does account for timezones but doesn't know what day the time was saved. For example, if a time is saved in summer time and then the form is opened in winter time, the time be shown as off by an hour. However, the underlying value will be correct.

See opendatakit/collect#170 for more details

[2017-10-09 16:06] ankita240796 commented on #283
@lognaturel Do we need a separate doc for these limitations? May I work on it?

[2017-10-09 16:12] adammichaelwood commented on #283
@lognaturel I wonder if this should be an entry in some new "Known Issues" document.

[2017-10-09 16:14] lognaturel commented on #283
I would tend to put it with the description of the time widget since that seems it's where someone will be most likely to get value out of it.

Maybe we leave it open until it's clearer where it should go?

[2017-10-09 16:15] adammichaelwood commented on #283
I'm also curious under what circumstance you would want to know a time, and not the date that goes with it. Because if you only want to know a time in the abstract ("Lunchtime is always at 12:30"), it seems like that would be free of timezone context.

[2017-10-09 16:24] lognaturel commented on #283
You can see from the thread on Collect that we really struggled with this issue and how to address it without breaking existing forms. I really don't know why timezone is included in the time-only widget and I'm not sure whether anyone relies on it. That said, I don't think it would be wise to change the backing data type (by removing TZ or adding date). Perhaps we could add a `timeWithoutTZ` type

[2017-10-09 16:28] adammichaelwood commented on #283
That would be sensible. "Abstract Time"

[2017-10-09 17:02] #249 closed

[2017-10-09 17:08] ankita240796 commented on #251
@adammichaelwood This issue should also be closed.

[2017-10-09 17:10] adammichaelwood commented on #271
Have you used LaTeX before?
Let me look into what the output looks like by default and how easy/hard it is to adjust.

Setting up LaTeX locally is a real pain, and could turn into a day long black hole of frustration for you if you haven't done it before.

(I have been through that black hole, and have it installed locally currently.)

[2017-10-09 17:13] adammichaelwood commented on #251
closed via #284

(The auto-close thing didn't work because it doesn't recognize "Closes #x and #y")

[2017-10-09 17:13] #251 closed

[2017-10-09 17:16] ankita240796 commented on #251
I will take care of this in future. Thanks!

[2017-10-09 18:30] yanokwa commented on #73
One gotcha that we should document. We only support select_one_external. select_multiple_external does not exist.

[2017-10-09 22:02] adammichaelwood commented on #271
Well... I fell into the LaTeX black hole... again.

I've tried three different ways to produce a PDF, and spent some amount of time attempting to debug them.

 - [Sphinx's LaTeX builder](http://www.sphinx-doc.org/en/stable/builders.html#sphinx.builders.latex.LaTeXBuilder). -- This did produce `.tex` output, but I couldn't get it to render to PDF.
 - [Rinoh plugin, a LaTeX-free PDF builder for Sphi

[2017-10-10 16:01] #252 closed

[2017-10-10 16:26] adammichaelwood commented on #10
- https://www.google.com/earth/outreach/learn is actually several pages:
   - https://www.google.com/earth/outreach/learn/getting-started-with-mobile-data-collection-using-odk/ -- Basically a Getting Started Guide that reproduces information we already have
   - https://www.google.com/earth/outreach/learn/odk-collect-and-google-drive-integration-to-store-and-manage-your-data/ -- About using Google

[2017-10-10 16:40] adammichaelwood opened #288 "Visualizing Data with Google Fusion Tables, Google Earth"
[This doc](https://www.google.com/earth/outreach/learn/visualize-field-data-in-google-earth-and-fusion-tables/) has some interesting info that would be cool to have in our Docs.

That doc is not well organized or well written, though, so rather than get permission and fold it in, the procedures should be followed and a new doc written. (Also check the forum and other sources to see how other peopl

[2017-10-10 16:42] adammichaelwood commented on #10
Just some notes as I go through these...

https://www.google.com/earth/outreach/learn is actually several pages:

  - https://www.google.com/earth/outreach/learn/getting-started-with-mobile-data-collection-using-odk/ -- Basically a Getting Started Guide that reproduces information we already have

  - https://www.google.com/earth/outreach/learn/odk-collect-and-google-drive-integration-to-store-and

[2017-10-10 16:45] Divya063 commented on #288
@adammichaelwood Can I take this?

[2017-10-10 16:47] adammichaelwood commented on #288
Sure.

[2017-10-10 16:54] Divya063 commented on #288
@opendatakit-bot  claim

[2017-10-10 17:41] yanokwa commented on #271
I already spoken to @adammichaelwood about this, but just so we have a record, other things to try are...
* rst2pdf - http://rst2pdf.ralsina.me/stories/index.html
* generating an epub and converting that to PDF

[2017-10-10 19:20] adammichaelwood opened #289 "Add Doc on using Android Emulator"
Is this worth pulling in?
Or is it really only helpful to ODK developers?

https://github.com/opendatakit/opendatakit/wiki/DevEnv-Setup

[2017-10-10 19:23] adammichaelwood opened #290 "Triage ODK wiki for possible additions to Docs"
A lot of these are dev-focused, but it would be worthwhile to sift through to be sure.

https://github.com/opendatakit/opendatakit/wiki

[2017-10-11 01:16] troublemagnet commented on #271
@adammichaelwood  , @yanokwa  thank you sir. I'll look into these tools.

[2017-10-11 18:50] adammichaelwood commented on #271
@troublemagnet rst2pdf looks promising, as it explicitly supports Sphinx.
Why don't you try that and see if you can get meaningful output.

[2017-10-11 20:12] #276 closed

[2017-10-12 19:48] adammichaelwood commented on #226
I find myself deleting the issue template every time I file one.
Any one else?

[2017-10-12 20:09] adammichaelwood commented on #10
http://sudan.validmeasures.org/category/open-data-kit

This is a whole category of blog posts on ODK. Some of them are about using Android features (like changing the language setting on a phone) and there's a couple about a 3rd party alternative to Aggregate (called Form Hub). The relevant ones just duplicate info we have already, but do so in excruciating detail.

[2017-10-12 20:15] adammichaelwood commented on #10
http://opendatakit.lshtm.ac.uk/what-do-i-need

This material mostly duplicates stuff we already have, and also has info about using ODK specifically at LSHTM -- like how to connect to their shared server.

[2017-10-13 14:57] Ghanisen opened #296 "Contradiction about images storage in ODK Collect's documentation"
## Description

In http://docs.opendatakit.org/collect-forms/, it is mentioned

However, in http://docs.opendatakit.org/form-widgets/#image-options it is mentioned:

[2017-10-13 16:32] adammichaelwood commented on #296
Please issue a PR to correct.

Also, can you look into whether the folder should be labeled `*-files` or `*-media`.

[2017-10-13 17:35] adammichaelwood commented on #10
http://odk.acf-e.org/odk/start_here.html

The docs here are kind of a mess --- the organization is all over the place. So it's hard to know everything that is available. But it seems like the info is either very basic (And duplicate of things we have), or covers specific issues with their org. processes.

[2017-10-13 18:43] adammichaelwood commented on #10
- Yaw Anokwa from Nafundi: [Replacing paper forms with smart forms on phones and
    tablets](https://speakerdeck.com/nafundi/replacing-paper-forms-with-smart-forms-on-phones-and-tablets)
 - Emily Kumpel and Berkeley in India: [Deployment Manual](http://ekumpel.wordpress.com/2011/02/13/135/)
 - Neil Hendrick and Berkeley HRC in Liberia: [Deployment Notes](https://groups.google.com/group/opendataki

[2017-10-14 22:28] ankita240796 commented on #254
@adammichaelwood This issue has to be closed.

[2017-10-15 03:01] Divya063 opened #298 "Track inactive claimed issues (ODK bot)"
Feature:
If a claimed issue has not been updated for a week, @opendatakit-bot  should post a comment on the inactive issue to ask the assignee if they are still working on the issue.Assignee should reply to the comment to  notify the bot that he/she is still working on it.If the bot  does not receive a response from the assignee within certain number of days it should automatically remove the issu

[2017-10-15 11:42] troublemagnet commented on #298
I totally agree with @Divya063. Most of the issues have been inactive for more than a week.

[2017-10-15 19:32] Divya063 commented on #271
@adammichaelwood  I guess LaTeX output would give more professional look as compared to the output rendered with rst2pdf.[Here](https://drive.google.com/file/d/0ByddvU1PKkWaV3k3SHJTRlFJWW8/view?usp=sharing) is the pdf output generated by me(without images).Some edits are needed

[2017-10-16 04:28] troublemagnet commented on #271
@Divya063 the images are disproportionate and the different admonitions are not styled properly either.

[2017-10-16 10:57] troublemagnet commented on #290
I guess pulling in the collect troubleshooting is a good idea.

[2017-10-16 20:05] #114 closed

[2017-10-16 20:16] adammichaelwood commented on #271
@Divya063 is that LaTeX output.

It does look better than the rst2pdf output, but they both have problems.

Anyone up for solutions to problems? Either tool is fine if we can make it work.

[2017-10-16 20:20] #228 closed

[2017-10-16 20:26] adammichaelwood opened #302 "Should we have an Upgrade Note admonition?"
#297 added a new admonition style for Upgrade Notes.

I'm not sure this is a good idea, but I merged the PR because the information was good and I wanted it to get published.

FIRST - I am going to let @ankita240796 make a case for adding it.
THEN - I will mention my concerns.
AND THEN - others may comment.

Please note:

 - Do not comment until @ankita240796 and @adammichaelwood (me) have both co

[2017-10-16 20:39] adammichaelwood commented on #254
closed via #266

[2017-10-16 20:39] #254 closed

[2017-10-16 22:02] ankita240796 commented on #302
# Reasons to add this:
- Any information related to upgrade process is written separately and thus will be more clear.
- User can directly view upgrade information when required as this will be visible clearly in every section.
- They can be preferred over a subsection since upgrade information will be added about every version and having a separate admonition will enhance readability.
# Differenc

[2017-10-16 23:42] lognaturel opened #304 "Add image size setting"
Read the issue and pull request in detail to understand the feature: https://github.com/opendatakit/collect/issues/1217 and https://github.com/opendatakit/collect/pull/1522

The documentation should identify that this was added in Collect v1.11.0 (upcoming release).

[2017-10-16 23:52] #238 closed

[2017-10-17 00:37] yanokwa commented on #271
@Divya063 @troublemagnet Thanks to both of you for your efforts so far! I prefer the latex output because the PDF is smaller (3.8MB vs 86.7MB) and the links are pretty nice.

[2017-10-17 01:30] yanokwa commented on #242
To me, adding docs for a new widget doesn't add much. That is, the enumerator who is using ODK Collect is rarely the person designing the forms.

As to release notes, we have release notes on the [Play Store](https://play.google.com/store/apps/details?id=org.odk.collect.android&hl=en), on the [Forum](https://forum.opendatakit.org/t/odk-collect-v1-10/9856), and in [Github](https://github.com/openda

[2017-10-17 03:03] Divya063 commented on #304
@opendatakit-bot claim

[2017-10-17 03:28] Divya063 commented on #271
@adammichaelwood I used Rhino to generate the pdf in the style of LaTex .The key error you were getting, I tracked it down and fixed it.The styles can be customized.

[2017-10-17 05:03] adammichaelwood opened #305 "Code samples require side scrolling"
If a line in a code sample is too long, you have to scroll sideways.

I don't think this is ideal... but maybe it it (?).

At any rate, I think the fix is just some CSS to wrap overflow lines in code blocks.

If someone could do it, and submit a PR -- at least we could see if it is an improvement.
(It might not be.)

Note: I can imagine it being the case that some languages wrap better than others

[2017-10-17 05:09] ankita240796 commented on #305
@opendatakit-bot claim

[2017-10-17 12:18] troublemagnet commented on #271
@adammichaelwood the key error is due to line no 1135 in contributing.rst due to code block and csv table being inside a note. I'm attaching images of the actual behavior and what it is like in @Divya063's pdf (she removed the code-block directive). Also Rinoh does provide support for styling. If we alternatively represent the information(line# 1132-1150 in contributing.rst), we can go ahead with

[2017-10-17 12:35] Divya063 commented on #271
@troublemagnet Thanks for the elaboration, This is exactly what I did, as the build was failing at contributing.rst file, I tried to track the error in in this file and indenting that part worked.However, I didn't notice that there was a difference from the expected behaviour.Thanks for pointing out!

[2017-10-18 00:53] yanokwa opened #306 "Projecting ODK Collect onto another screen"
For users who need to train others on how to use ODK Collect, it would be very nice to have instructions on how to project ODK Collect on a screen.

According to https://forum.opendatakit.org/t/showing-odk-collect-form-with-projector/10063, a number of people use and like Vysor, so we should link to that and provide high-level instructions. It's great for users who have an Android device and USB d

[2017-10-18 01:01] yanokwa commented on #298
According to https://github.com/opendatakit/zulipbot/blob/master/src/config.js#L34 the bot should remind claimers after 7 days if they haven't worked on an issue. And then if there is no action on the issue, it removes the claim 3 days later (so a total of 10 days to work on an issue).

Is there a claimed issue where this process has failed?

[2017-10-18 01:17] yanokwa opened #307 "Going quickly from XLSForm to a form on a device"
When doing a form design session, I usually have Excel and an emulator going at the same time. I design the forms in Excel, then use pyxform to convert it to XML, then use adb to push the form to an emulator using the command line (e.g., `xls2xform form.xlsx form.xml && adb push form.xml /sdcard/odk/forms/`).

The process is relatively straightforward, but it seems magical if you don't know the in

[2017-10-18 01:20] Divya063 commented on #306
@yanokwa I would like to take this issue

[2017-10-18 01:22] yanokwa commented on #289
I think this is useful to implementers and those folks can't always figure out Android's obtuse instructions. I think something more step-by-step here would save a lot of people a lot of time.

Related: https://github.com/opendatakit/docs/issues/306 https://github.com/opendatakit/docs/issues/307

[2017-10-18 01:28] Divya063 commented on #306
@yanokwa The custom android emulator is really slow, that's why I use genymotion , It is free for personal use, but it is a commercial product,

[2017-10-18 01:36] Divya063 commented on #298
yes, here are some of the issues:
https://github.com/opendatakit/docs/issues/97
https://github.com/opendatakit/docs/issues/3
https://github.com/opendatakit/docs/issues/288

[2017-10-18 01:39] yanokwa commented on #306
I do think Genymotion is lighter and easier, but the license is clear that you can't use it if it `might materially benefit Licensee’s or any third party’s professional purposes`. For example, if someone is working as a volunteer for a non-profit, they probably can't use it without violating the license because then non-profit has a professional purpose. Bottom line, I want to be respectful of the

[2017-10-18 02:07] yanokwa opened #308 "Bulk configuring with a script"
If you have to configure 10,000 phones offline, anything you can do to speed up the process of resetting the app and installing everything that's needed is a huge win. The way I've done this in the past is, at a high level...
1. Enable USB debugging. Note that how to do this varies for Android <2 and Android >3. We should document (or point to both).
1. Install Universal Android USB driver. This i

[2017-10-18 04:53] troublemagnet commented on #307
I'd like to work on this.

[2017-10-18 05:57] Divya063 commented on #308
@yanokwa I would like to work on this

[2017-10-18 06:14] ankita240796 commented on #298
@Divya063 @yanokwa There is same problem with some inactive PRs too where changes have been requested but not still made. I am working on issue #97 but it requires a form design doc where the new section will be added. PR #217 for form design doc is inactive. Same is the case with PR #222 .

[2017-10-18 17:34] adammichaelwood commented on #306
In the Collect TOC, I imagine.

[2017-10-18 18:53] #121 closed

[2017-10-18 18:57] Divya063 commented on #306
@opendatakit-bot  claim

[2017-10-18 19:05] yanokwa commented on #298
Well, we've filed the issue upstream, so that's all we can do at this time. We can't trust the bot to do everything 😂.

I propose we close this issue, and as a stop-gap, @adammichaelwood (on this repo) and @lognaturel (on the other repos) occasionally sweep the issues to find stale issues.

@adammichaelwood, if you agree, please close this issue.

[2017-10-18 19:46] adammichaelwood commented on #298
I agree.

[2017-10-18 19:46] #298 closed

[2017-10-18 20:13] lognaturel opened #309 "Situations in which using raw XML may be useful"
#20 and #222 pull in some form design documentation that talks about raw XML. In general, this is not used much. However, there are some real cases in which it might be helpful.

Let's use this issue thread to collect those and to eventually add them to an existing document or create a new one.

Perform a complex calculation and show it to the user without introducing a new `calculate` field: http

[2017-10-19 20:43] #305 closed

[2017-10-19 20:48] ankita240796 commented on #97
@adammichaelwood There is no Form design doc still. PR #217 for the Form design doc is inactive. So where should this section be added? If @mish24 is not working on Form design doc, may I work on it?

[2017-10-20 09:17] fabla opened #313 "ODK Collect and Comment feature"
## Description

[2017-10-20 09:20] fabla opened #314 "xlsform offline and audio audit type."
## Description

[2017-10-20 14:40] lognaturel commented on #313
Hi @fabla! This repository is for ODK documentation. Issues should be filed to keep track of information about ODK that needs to be added to the documentation.

I see that in the issue comment you have left the following message:

This looks like either a support question or a feature request. Feature requests should go to https://forum.opendatakit.org/c/features and make sure to include as much d

[2017-10-20 14:40] #313 closed

[2017-10-20 14:43] lognaturel commented on #314
Same message as in #313 -- this is not the right place for ODK feature requests!

I see that in the issue comment you have left the following message:

It sounds like those are new feature requests. If you'd like to post those to https://forum.opendatakit.org/ please describe the functionality that you would like. For example, "I want the recording to start when the user does X and stop when the u

[2017-10-20 14:43] #314 closed

[2017-10-20 22:55] adammichaelwood commented on #97
Part of the issue is that we're all still a little ambivalent (I think) about what a Form Design doc should include.

This could probably be a standalone document in the Form Building TOC.

[2017-10-20 23:20] adammichaelwood opened #315 "Remove "upcoming release" from version add info when release occurs"
PR #311 added info on Image size settings.
The text currently says this will be added in an upcoming release.

When v1.11.0 is released, it needs to be changed.

From:

[code]

To:

[code]

@yanokwa Is there any bot magic available to tie an alert on this issue to a release happening?

[2017-10-20 23:25] #304 closed

[2017-10-20 23:29] adammichaelwood commented on #306
Just to expand on @yanokwa point above...

if genymotion is a lot easier, then all we need to do is mention that it exists. People will come to their own conclusions and won't need a doc from us explaining how to use it.

But the android studio is the canonical solution, so we should do our best to help people out with that. At the same time, we don't need to re-create their documentation.

[2017-10-20 23:32] adammichaelwood commented on #308
@Divya063
I would be interested to know your test plan on the procedure.

Also, if you can provide details for Windows, Linux, and Mac, or just one of them.
(Just one is fine. It would just be good to know if a second person should work on it as well.)

[2017-10-20 23:38] adammichaelwood commented on #307
@troublemagnet I think that would be great.

The "bit of prose" might cover:

 - the purpose of this is for iterating on a form design in excel and seeing the changes on your device as you work
 - using these command line tools is way faster than what someone might try doing:
     - save the spreadsheet
     - upload it to the online xlsform onverter
     - upload the output to Aggregate
     - fe

[2017-10-21 00:04] adammichaelwood commented on #302
My concerns here are:

 - I'm not sure it is clear when to use an Upgrade Note instead of a regular Note. The difference isn't obvious or easy to apply consistently. For example, this image shows two notes, and I'm not sure why one is an Upgrade note and the other isn't.

![screen shot 2017-10-20 at 4 41 35 pm](https://user-images.githubusercontent.com/1776241/31845458-c1335e26-b5b5-11e7-809e-aaad

[2017-10-22 09:48] Divya063 commented on #308
@yanokwa  @adammichaelwood  I installed Universal Android USB driver and minimal ADB version 1.3 (version 1.4 seems to be unstable).I generated collect.apk file and ran the bat file in the same folder, the script is working fine on windows and I can also test the script in linux environment.

[2017-10-23 15:11] ankita240796 commented on #97
@adammichaelwood Should I give a try to making a form design doc and then we can discuss what possible changes or additions are needed?

[2017-10-23 16:23] adammichaelwood commented on #47
This is becoming relevant, and we need a way to provide downloadable files and documents.

Should not be hard:

 - We need a new directory in the source. Probably `/files/` or `/downloads/` though someone should look into Sphinx docs to make sure that isn't reserved for some other use. (Or if there is a standard name for this dir other than `/files/`)
 - The `conf.py` has to be updated so that the

[2017-10-23 16:24] ankita240796 commented on #47
@adammichaelwood May I work on this?

[2017-10-23 16:28] adammichaelwood commented on #97
Not at the moment. I think this would be more sensible if I worked on it a bit and then cleaned up the existing issues related here.

[2017-10-23 17:05] adammichaelwood commented on #47
That would be great.

[2017-10-23 17:08] ankita240796 commented on #47
@opendatakit-bot claim

[2017-10-23 17:10] troublemagnet opened #320 "Update the contributor's guide with information on how to add Inline images."
## Description

Currently the contributor's guide doesn't explain how to use inline images. Update it with the same.

[2017-10-23 17:10] troublemagnet commented on #320
@opendatakit-bot  claim

[2017-10-23 19:11] #97 closed

[2017-10-24 15:04] Divya063 commented on #306
@yanokwa @adammichaelwood Vysor is working perfect but using android emulator without installing android studio is quite cumbersome process. Command line can be used to create and run the emulator but as [android](https://developer.android.com/studio/tools/help/android.html) command is no longer supported, `sdkmanager` command has to be used to install packages from the command line. There are few

[2017-10-24 15:23] adammichaelwood commented on #306
I think it is okay to provide Studio and non-Studio instructions emulator, and mention what the advantages/disadvantages are. You would need to make clear what has been deprecated or lacks support, etc.

This is is also something that can be added to the docs in stages. So you don't have to cover every possible approach in one PR.

[2017-10-24 16:12] #320 closed

[2017-10-24 16:17] #186 closed

[2017-10-24 17:11] adammichaelwood opened #322 "Document ODK build"

[2017-10-24 17:13] ankita240796 commented on #322
@opendatakit-bot claim

[2017-10-24 18:31] #9 closed

[2017-10-24 18:41] yanokwa commented on #306
@Divya063 Thanks for looking into this! I now remember that Google has made the Android emulator even harder to install. What a shame.

I'd propose that we list Vysor, Genymotion, Android Studio and then put a few sentences about the various tradeoffs. I'd leave off the non-Studio emulator because it is deprecated and there are suitable alternatives. If there ends up being more demand for that, ma

[2017-10-24 19:36] yanokwa opened #323 "Build failing because of bad png?"
The command that is preventing master from shipping releases is
`pngquant $HOME/docs/build/_images/jump*.png --force --ext .png`

It fails with on remote server (Ubuntu 14.04)
[code]
This command works fine on my local machine (macOS 10.13).

* I've confirmed that the command fails on remote source image
`pngquant ~/docs/img/collect-forms/jump*.png --verbose`
* I've confirmed that the command fail

[2017-10-24 19:51] adammichaelwood commented on #323
These images were created by @troublemagnet

[2017-10-24 19:53] adammichaelwood commented on #323
These images were created by @troublemagnet

I can reproduce them... but is there any way to find out why they are failing?
The images don't seem corrupt otherwise (they are viewable in GH and locally when I build)

[2017-10-24 19:58] yanokwa commented on #323
Yeah, I can't repro it either and I've spent way too much time on it. I'd propose you take new screenshots because we know your process works and then merge that in to fix the build.

Then I have a PR (https://github.com/opendatakit/docs/pull/324) that will check "bad" PNGs in the future and we can try to repro it then.

[2017-10-24 20:14] adammichaelwood commented on #323
Rather than recreate the images, I thought it would be faster to pull them into gimp and re-export them as new pngs.

when i opened them png in gimp, it appears to have an odd color profile:

[code]
This appears to be an older color standard then the one more commonly used by current image editing software. Which may be why pngquant does not support it, even though web browsers and image viewers d

[2017-10-24 20:27] adammichaelwood commented on #323
I am having a git problem...

there seems to be a previously committed (?) image file which is not in the repo anymore, causing a problem with `git push`

[code]

@yanokwa @ln any help?

[2017-10-24 20:28] yanokwa commented on #323
Let's talk in Slack. In the meanwhile, can you upload the Gimped images here?

[2017-10-24 20:29] adammichaelwood commented on #323
![jumpmenu](https://user-images.githubusercontent.com/1776241/31966396-6a2f76ca-b8bf-11e7-87c4-ef69d37353f3.png)
![jumpscreen](https://user-images.githubusercontent.com/1776241/31966397-6a49bab2-b8bf-11e7-9286-7818b056efd6.png)

[2017-10-24 20:37] yanokwa commented on #323
I can confirm that Adam's fix of opening in Gimp and re-exporting as PNGs works. So yeah, must have been an odd color profile. @troublemagnet How did you create this PNG? If it was on a device, what was the device and version of Android?

I still propose that we use pnquant to check this on every PR (https://github.com/opendatakit/docs/pull/324) and we'll know whenever there is a bad PNG.

[2017-10-24 20:42] #323 closed

[2017-10-25 10:57] troublemagnet commented on #323
@yanokwa I'm using Moto X Style, Android 7.0.  Apologies for the inconvenience caused.

[2017-10-25 10:59] troublemagnet commented on #107
It has been inactive for quitesome time, may I work on this?

[2017-10-25 18:18] ankita240796 commented on #302
Yes, @adammichaelwood you are right that this admonition is not really needed. It was just an idea to make the Upgarde notes more readable as Aggregate upgrade is a really long doc. The difference between the two notes here is that the first note gives a piece of information about rev 210 sync protocol but the second note specifies that when should upgrade be avoided. If we continue using this, th

[2017-10-25 18:40] ankita240796 commented on #106
@opendatakit-bot claim

[2017-10-25 18:43] ankita240796 commented on #61
@opendatakit-bot claim

[2017-10-26 16:45] adammichaelwood opened #330 "Deal with color profile problem locally before PR"
We recently had a problem (#323) caused by an image having color profile that was incompatible with with [pngquant](https://pngquant.org/) (a lossy image compression tool we use on deployment).

There was no way for the contributor to know that this would be a problem. It appears that *some* Android devices use the problematic color profile. (Who knows which ones?)

The solution -- which is easy -

[2017-10-26 22:44] nadaa commented on #164
@adammichaelwood, I have prepared a doc, shall I send a PR?. @yanokwa, is there any news about Google Earth license?

[2017-10-27 06:20] ankita240796 commented on #210
@opendatakit-bot claim

[2017-10-27 13:19] Divya063 commented on #308
@yanokwa @adammichaelwood I have tested the script on Linux platform too, and it is working fine. I think the script should have a flag as all the saved forms and data are deleted after executing the script.
Maybe we can add something like this -
On Windows:
[code]
On Linux:
[code]

[2017-10-27 17:46] #47 closed

[2017-10-27 17:59] #306 closed

[2017-10-27 18:32] #322 closed

[2017-10-27 18:48] #101 closed

[2017-10-27 18:58] adammichaelwood opened #332 "Re-organize Form Building and Developer-facing"
Started with the work I'm doing related to #239, but also move JavaRosa out to its own section and probably put JavaRosa and OpenRosa together in a dev-docs section...

[2017-10-27 21:15] adammichaelwood commented on #309
Is that really something that *requires* XML-editing, since there is a "canonical" way of doing it in XLSForm (that is... using a `calculate` field)

[2017-10-27 21:29] adammichaelwood commented on #309
This also doesn't require editing the XML directly, does it? Just some complex knowledge of XML, but used inside XLSForm.

[2017-10-29 09:04] troublemagnet commented on #4
@opendatakit-bot  claim

[2017-10-29 09:06] ankita240796 commented on #4
@troublemagnet I have already prepared a doc on this and was about to issue a PR. I am really sorry for interrupting you as I forgot to claim the issue. Can you please work with some other issue.

[2017-10-29 09:08] troublemagnet commented on #4
I started too but nevermind.

[2017-10-29 09:09] ankita240796 commented on #4
I am really sorry about this. If you want to work this, I will not issue the PR.

[2017-10-29 09:10] troublemagnet commented on #4
It's fine if you already prepared a doc. I just spent time in understanding the issue and researching.

[2017-10-29 09:11] ankita240796 commented on #4
Thank you so much @troublemagnet. Please review my PR, it will help me in making the doc better.

[2017-10-29 11:08] Divya063 commented on #3
@pari0770 Are you still working on this?

[2017-10-29 12:08] troublemagnet commented on #5
@opendatakit-bot claim

[2017-10-30 17:17] ankita240796 commented on #289
@adammichaelwood May I work on this.

[2017-10-30 17:24] ankita240796 commented on #13
@opendatakit-bot claim

[2017-10-30 17:30] adammichaelwood commented on #289
Is there anything still needed after @Divya063's work in #327:
http://docs.opendatakit.org/projecting-collect/#using-android-studio

That seems to cover things (though a review/cross-check with the wiki page is worth doing).
I do wonder if the emulator stuff should be put in its own doc, as it is useful outside of projecting on-screen. Then the projecting page could link to it.

Thoughts?

[2017-10-30 20:50] troublemagnet commented on #330
I don't think *doing nothing* is a good option. It's always better to avoid failed builds. The bad png fail is not at all intuitive as there's no warning that is generated by the sphinx build locally. And when the possible solutions are really easy to be incorporated, we might just do it. I think the minimum we should is to adopt the first solution. However even I feel that combining 1st and 2nd w

[2017-10-30 20:52] troublemagnet commented on #100
@adammichaelwood  I think 4 out of the 5 points stated in the issue description have already been addressed well. However can you please explain the 4th point?

[2017-10-30 21:02] troublemagnet commented on #271
@adammichaelwood the rinoh output definitely looks more professional sir but do you suggest to make a change in the note? If yes, I could work on representing the information in an alternative way and produce the new pdf for reviewing.

[2017-10-30 21:18] adammichaelwood commented on #330
@troublemagnet If you want to look into this:

you could. It would be helpful and probably doable in reasonable time.

[2017-10-30 21:18] yanokwa commented on #298
Fixed by https://github.com/opendatakit/zulipbot/commit/6ae9dbd043c2c0934f1005d0a152c4b4230dca9b

[2017-10-30 21:21] troublemagnet commented on #330
@adammichaelwood yes sir, I'll do it.

[2017-10-30 21:24] adammichaelwood commented on #271
I think working out the kinks in the PDF process is going to be a long project. A few of you have included it in the Outreachy proposal, and I think that is the best venue for working on it.
(If someone who didn't include it is selected, they might *still* work on it during that period.)

So... If I were you, I would not work on it at this time.

[2017-10-30 21:28] adammichaelwood commented on #100
However can you please explain the 4th point?

This is just general advice for writing about 3rd party tools. What *isn't* covered in their docs that would make it easier for *our* users.

But I do think this issue was completed by #140 and should have been closed.

[2017-10-30 21:28] adammichaelwood commented on #100
Closed via #140

[2017-10-30 21:28] #100 closed

[2017-10-30 21:32] troublemagnet commented on #271
To go through all the pages and verify whether the produced output conveys what we intended to convey and if it doesn't, then making the change in styling would take a fair amount of time. You're right, it makes sense to do it as a part of outreachy.

[2017-10-31 00:18] lognaturel commented on #302
In a case like #337, I feel strongly that the version information should be readily available right when the feature is introduced and I've shown one way that could be done. I now realize this may not have been part of what you wanted to discuss in this issue, though.

In the case of upgrade notes, I don't feel as strongly. I can see arguments for both and so my tendency would be to go for the sim

[2017-10-31 00:40] lognaturel opened #338 "Add Ethiopian calendar to widgets"
Form for trying it: [ethiopian-cal.xml.zip](https://github.com/opendatakit/docs/files/1429194/ethiopian-cal.xml.zip)

[2017-10-31 00:41] lognaturel opened #339 "Update behavior of form metadata username"
In versions prior to Collect 1.11.0, the form metadata username was always used as the preload value. Now the server username is used if no form metadata username is set.

https://github.com/opendatakit/collect/issues/1306

[2017-10-31 01:33] Divya063 commented on #339
@lognaturel  May I work on this?

[2017-10-31 01:39] Divya063 commented on #338
@opendatakit-bot claim

[2017-10-31 01:57] Divya063 commented on #289
@adammichaelwood The information I added in #327 covers everything, there is only one thing left  i.e.  adding the command line option.

[2017-10-31 03:59] lognaturel commented on #339
@Divya063 Sounds good to me!

[2017-10-31 04:01] lognaturel commented on #4
Thanks for the good collaboration @troublemagnet, @ankita240796.

[2017-10-31 04:46] Divya063 commented on #339
@opendatakit-bot claim

[2017-10-31 09:06] ankita240796 commented on #289
Yes, @Divya063's work covers everything but I too feel that putting emulator stuff in its own doc is a good idea as it will be useful to implementers. In the present scenario, it is represented as a sub-section in projecting on-screen docs but it is better to have a doc which describes it in general and the projecting on-screen doc can then be linked to it.

[2017-10-31 15:27] adammichaelwood commented on #289
@Divya063
Since it was your work -- if you have time -- why don't you pull that into it's own doc and link as suggested, plus add the command line thing you mentioned.

[2017-10-31 16:00] Divya063 commented on #289
@adammichaelwood Yes, I would start working on this, so should I add the [deprecated method](https://github.com/opendatakit/docs/issues/306#issuecomment-339021832) too?
As the previous versions of SDK are still accessible, this method can be still adopted.

[2017-10-31 21:03] #330 closed

[2017-10-31 21:14] adammichaelwood commented on #289
I think we probably shouldn't.

[2017-10-31 22:08] ankita240796 commented on #302
Yes, I agree here that upgrade notes are not mandatory but on the other hand, they are also not difficult to include. There is no extra maintenance required since the admonition is defined and we can use them as required.

[2017-11-01 12:19] troublemagnet commented on #14
@opendatakit-bot  claim

[2017-11-01 21:53] #14 closed

[2017-11-01 21:57] #315 closed

[2017-11-01 21:58] #92 closed

[2017-11-01 21:58] #210 closed

[2017-11-01 22:10] #107 closed

[2017-11-01 22:15] #288 closed

[2017-11-02 16:29] #339 closed

[2017-11-02 16:42] #338 closed

[2017-11-02 18:31] Divya063 commented on #289
@adammichaelwood The stand-alone SDK package provided on the [website](https://developer.android.com/studio/index.html) does not contain [**Quick Emulator**](http://wiki.qemu.org/) and some necessary folders which are required for running an emulator. So, users have to download Android Studio along with SDK  in order to run the emulator from the command line. I have created a zip file which contai

[2017-11-02 18:33] adammichaelwood commented on #289
This sounds reasonable.

I think providing third-party software to docs users is not a prudent idea.

[2017-11-02 18:39] Divya063 commented on #289
@adammichaelwood Yes, that would be reasonable. I'll add instructions on that.

[2017-11-02 19:13] adammichaelwood opened #346 "Global rst link refs for common links (docs repo, file an issue, the forum, the slack)"
Pretty sure this would go in `rst_epilog` in `conf.py`.
I think it should just be the link targets, not a full substitution text, so we can quickly do:

[code]

--

This would also need a short section in the contrib docs.

[2017-11-02 19:23] adammichaelwood commented on #309
I've reframed this issue --

I'm working on a doc for Advanced XForm Recipes that will include so things that can be done in XLSForm and some things that requires XML editing, and this can be added to over time.

[2017-11-02 20:03] Divya063 commented on #346
@opendatakit-bot claim

[2017-11-03 19:33] adammichaelwood opened #349 "Document how/where to upload external CSV file with form"
Not sure best place for this. Perhaps with media/images detail in form widgets?
MAybe also a link to it from the relevant (multiple choice) widgets.

The location is the same, but we don't specify that it is the right place for csv files also.

https://forum.opendatakit.org/t/usb-transfer-of-form-media-csv-file-to-odk-collect/9770/3

[2017-11-03 19:35] troublemagnet commented on #349
@opendatakit-bot claim

[2017-11-07 18:03] #332 closed

[2017-11-08 00:21] lognaturel commented on #309
Outputting a value without introducing a new field can be important because it's harder to work with data columns that aren't useful. It makes data exports unnecessarily complicated.

Regarding iterating over choices identified by a cascading select question, you're right. I suppose that category is things that the `${}` doesn't surface and that require XPath knowledge.

Advanced recipes sounds go

[2017-11-08 00:42] lognaturel opened #351 "Standardize language and document in contributor guide"
Within http://docs.opendatakit.org/collect-settings/ we have "allows you to list..." and "allows us to list..." and "lists...". It would help with coherence to pick one and stick with it. I prefer the last form which is more direct and formal.

[2017-11-08 19:16] troublemagnet commented on #349
@adammichaelwood  Sir can I add a data preloading section inspired by [this](https://opendatakit.org/help/form-design/data-preloading/) and link it to loading form media section?

[2017-11-09 03:09] florianm opened #352 "SUGGESTION Add working examples for ODK Aggregate API to docs"
## Description
Working with the ODK Aggregate API is really useful as it helps to automate recurring tasks.
Some working examples of the most used API tasks would be great to have in the docs.

E.g., I'd love to see working examples in Python and R for the following tasks:

* List all forms (`/xformsList`) to show at least name and downloadUrl in tabular format.
* For one formID, list all form sub

[2017-11-10 18:51] #346 closed

[2017-11-12 14:11] Divya063 commented on #308
@yanokwa @adammichaelwood I was wondering if the scripts should be made available as downloadable files or not?

[2017-11-14 01:20] lognaturel opened #353 "Describe and explain the structure of /sdcard/odk"
As suggested in https://github.com/opendatakit/docs/issues/100

There's a little bit in the note in [this Aggregate section](http://docs.opendatakit.org/aggregate-use/?highlight=sdcard#viewing-published-data) that's a start. All of this information should probably be grouped together.

The section shoould also include some info on what is safe to delete and what the results of deleting certain thi

[2017-11-14 01:30] Divya063 commented on #353
@opendatakit-bot claim

[2017-11-15 17:02] lognaturel opened #355 "Pull in all info about AWS Aggregate install"
See https://github.com/opendatakit/opendatakit/issues/1359#issuecomment-344413986

Make sure the doc here has all the necessary info and redirect the other two.

[2017-11-15 17:17] #4 closed

[2017-11-15 18:53] adammichaelwood opened #356 "Reorganize Collect pages"
I'm currently working on a general re-org. (See: https://forum.opendatakit.org/t/re-organizing-the-docs/10527), but that is too much for a single issue or PR.

---------

This issue is for the Collect section.

My current plan is:

 - top-level TOC (per @yanokwa suggestion):
     - Intro  -- the current `collect-guide.rst` with some expansion, renamed collect-intro.rst
     - Install and Setup --

[2017-11-16 23:53] ankita240796 commented on #106
@opendatakit-bot unclaim

[2017-11-17 20:58] lognaturel commented on #213
I think thinks will go in two places. One narrative for users in a section on form design and one narrative for developers about the JR innards.

For users I'm thinking of info like:
- When a value changes, all dependent nodes are recomputed
- When a form is finalized, all values are recalculated from start to finish
- The `once` function can be used to only evaluate an expression if the node's va

[2017-11-21 20:42] lognaturel commented on #3
More details at https://forum.opendatakit.org/t/role-of-the-layers-folder-in-odk-collect/10168/6?u=ln

[2017-11-22 21:56] lognaturel opened #360 "Clarify that Validate is not necessarily needed"
http://docs.opendatakit.org/validate/ makes it sound like Validate is essential in all ODK workflows. Actually, it's only really needed when manually editing XML because tools that convert from XLSForm run Validate automatically.

Issue inspired by: https://forum.opendatakit.org/t/improving-how-odk-validate-deals-with-high-dpi-diplays/10638/4

[2017-11-23 03:43] Divya063 commented on #353
I would soon add the information after the reorganization of the collect docs.

[2017-11-24 13:06] mdudzinski commented on #213
@lognaturel Sure! I will focus on the dev stuff first.

[2017-11-24 23:25] adammichaelwood opened #362 "Fix style of guilabel in TOCs"
If a title has a `guilabel` text role, the style is retained in the TOC, which looks weird.
![screen shot 2017-11-24 at 3 24 10 pm](https://user-images.githubusercontent.com/1776241/33225404-aa761232-d12b-11e7-85b4-44d401143e5a.png)

(Maybe it doesn't look weird? This issue needs a second opinion.)

[2017-11-29 20:24] adammichaelwood opened #364 "Fix Style of Figure captions"
![screen shot 2017-11-29 at 12 20 59 pm](https://user-images.githubusercontent.com/1776241/33397211-dcac9032-d4ff-11e7-84eb-9cd5bfc79e10.png)

The caption beneath the figure should:

 - line wrapped, not exceeding the width of the picture (including a bit of padding)
 - centered below the image
 - spaced a little away from the picture vertically (probably about one line height)
 - connected more e

[2017-12-01 04:30] lognaturel opened #365 "Document setting to prevent backward movement in forms"
https://github.com/opendatakit/collect/issues/1456

[2017-12-02 04:13] akshay-ap opened #366 "Spelling Error `tasksell` command"
## Description

BUG :
In the Aggregate Installation section  there is a command :
`$ sudo tasksell install tomcat`

(located at `Installing on Tomcat (Local or Cloud)` -> `Install Tomcat on your server.` -> `Tip` -> `Linux Installs`)

![typo](https://user-images.githubusercontent.com/16358982/33511674-079dbe0a-d745-11e7-9314-1f45a58e7f0a.png)

Link to aggregate setup docs :
http://docs.opendatakit

[2017-12-02 04:13] akshay-ap commented on #366
@opendatakit-bot claim

[2017-12-02 18:21] #366 closed

[2017-12-05 20:18] lognaturel opened #369 "Document form update possibilities and limitations"
https://forum.opendatakit.org/t/updating-form-question-without-losing-previous-data/10851/3 is a start.

[2017-12-08 00:26] lognaturel opened #375 "Move Briefcase API docs"
https://github.com/opendatakit/opendatakit/wiki/Briefcase-Aggregate-API

It should go to the DEVELOPING WITH ODK section.

[2017-12-08 13:23] ankita240796 commented on #290
I feel adding the following to the docs will be a good idea:
- [Aggregate App Engine troubleshooting](https://github.com/opendatakit/opendatakit/wiki/Aggregate-AppEngine-Troubleshooting)
- [Aggregate Tomcat troubleshooting](https://github.com/opendatakit/opendatakit/wiki/Aggregate-Tomcat-Troubleshooting)
- [Aggregate security note](https://github.com/opendatakit/opendatakit/wiki/Aggregate-Security

[2017-12-08 20:49] lognaturel opened #376 "Form design for Collect hierarchy view: add inner group to control repeat titles"
As of Collect v1.12.0 (to be released ~12/17), when a group is nested directly in a repeat the name of that group is used in the hierarchy view as the repeat title. Where should this be documented? Probably in both the XForms and XLSForm specifications. Somewhere in form tips here? Collect documentation? This is optional behavior that clients may choose to ignore or not.

@hooverlunch @grzesiek201

[2017-12-09 00:48] lognaturel commented on #290
I feel like basically all of it should come in with some of it going to the "Developing with ODK" section, probably in a new set of pages with a sub-TOC.

A related priority is also to address #355 since we know at least one person has been confused by it.

[2017-12-09 00:52] lognaturel opened #377 "Update Collect Google Drive setup instructions"
Should be done after #361 is merged and Collect v1.12 is released. In that release it will become possible to add a Google account when specifying one from the settings so it won't have to be associated with the device beforehand.

[2017-12-09 00:55] lognaturel opened #378 "Document new Collect calendar types"
The upcoming release (v1.12 to be released ~12/17) adds `coptic` and `islamic` appearances for the calendar.

[2017-12-09 02:04] Divya063 commented on #378
@opendatakit-bot claim

[2017-12-09 06:50] ankita240796 commented on #355
@opendatakit-bot claim

[2017-12-09 06:51] ankita240796 commented on #290
Yes, I agree with you @lognaturel! It is definitely a better idea to pull in all of it in different sections accordingly. I will start working on this as well as on #355.

[2017-12-09 07:04] ankita240796 commented on #375
@opendatakit-bot claim

[2017-12-09 07:37] Divya063 commented on #3
@opendatakit-bot claim

[2017-12-09 07:56] ankita240796 opened #380 "Pull in docs from ODK wiki"
- [ ] Collect
     - [Collect troubleshooting](https://github.com/opendatakit/opendatakit/wiki/Collect-Troubleshooting)

- [ ] Aggregate
     - [Aggregate 0.9.x to 1.x](https://github.com/opendatakit/opendatakit/wiki/Aggregate-0.9.x-to-1.x-Migration): Added in Aggregate upgrade guide
     - [AppEngine Master Slave migration](https://github.com/opendatakit/opendatakit/wiki/Aggregate-AppEngine-Maste

[2017-12-09 08:13] ankita240796 commented on #226
@adammichaelwood  I find myself doing the same and no new issue has used the template. I feel we should remove this template.

[2017-12-11 14:31] mdudzinski commented on #213
@opendatakit-bot claim

[2017-12-11 15:17] hooverlunch commented on #376
I have not yet had time to review the new Collect docs per @yanokwa's request, but I am still hoping to find time.

But based on an initial look, I don't see anything about repeat groups in the ODK Collect docs. There is stuff about widgets, but not groups (except field lists) or repeats. Am I missing it?

If I'm not, is this an oversight? I get that the XForms spec is the definitive source for XM

[2017-12-11 15:31] adammichaelwood opened #381 "Add "open all" feature to lists and/or page with collapsed sections"
Just an idea right now...
Does it make sense to add some kind of additional toggle control that would open all the collapsed sections of a particular list, or all of the ones on a page?

[2017-12-11 15:47] ankita240796 commented on #377
@opendatakit-bot claim

[2017-12-11 15:53] ankita240796 commented on #91
@opendatakit-bot claim

[2017-12-12 02:31] Divya063 commented on #378
![](https://github.trello.services/images/mini-trello-icon.png) [PR for issue #378](https://trello.com/c/pcvD49rv/4-pr-for-issue-378)

[2017-12-12 15:18] #364 closed

[2017-12-12 20:01] #356 closed

[2017-12-12 20:39] lognaturel opened #384 "Idea: show glossary definitions inline"
Identify terms from the glossary with some kind of decoration (e.g. dotted underline). On hover/click/??? the definition appears.

I don't know if this is necessary, links to the glossary may be sufficient. I'm thinking about terms like "enumerator" or "instance" that we throw around but that may not be familiar to everyone.

[2017-12-12 20:41] lognaturel commented on #226
I agree. It was a good thing to try but since docs are inherently more subjective and varied it doesn't work as well as with code.

[2017-12-13 00:02] Divya063 commented on #384
I think a popover menu would be great which can show relevant information about the selected text, similar to what medium provides -

![screenshot from 2017-12-13 05-10-55](https://user-images.githubusercontent.com/21216969/33914677-537f2768-dfc5-11e7-8892-0e36c53d7dc4.png)

Just Instead of icons we can have relevant description -

![pu_instant-details](https://user-images.githubusercontent.com/21

[2017-12-13 15:44] ankita240796 commented on #377
@opendatakit-bot unclaim

[2017-12-13 15:47] ankita240796 opened #385 "Add information on using video directive in contributors guide"
This should be done after #370 is merged.

[2017-12-13 16:01] ankita240796 commented on #13
@opendatakit-bot claim

[2017-12-14 01:27] yanokwa opened #386 "Include a few XLSForms that users can learn from"
This was suggested in https://github.com/opendatakit/docs/issues/20, but I'd like to make it more actionable.  Here are two forms that I think should be in the docs.
* [All Widgets](https://docs.google.com/spreadsheets/d/1af_Sl8A_L8_EULbhRLHVl8OclCfco09Hq2tqb9CslwQ/edit#gid=0) - Every widget that is supported by Collect
* [Form Design Tips](https://docs.google.com/spreadsheets/d/1bDqv28UWysf6bRCo7

[2017-12-14 01:29] #375 closed

[2017-12-14 05:20] #369 closed

[2017-12-14 05:21] #66 closed

[2017-12-14 05:22] adammichaelwood opened #387 "Replace video html with video directive"
All raw HTML video inserts need to use the recently added video directive instead. (cf. #370)

[2017-12-14 05:23] adammichaelwood opened #388 "Add info on using video directive to the contributor guide"
document how to use the video directive created by #370
should replace the information on using the raw html

[2017-12-14 05:24] #385 closed

[2017-12-14 05:25] ankita240796 commented on #388
@opendatakit-bot claim

[2017-12-15 16:21] Divya063 opened #392 "Add information about location of odk directory in file system"
Some phones support expandable storage, but some don't. Beginning with API Level 8, Users can allow  application to be installed on the external storage (for example, the device's SD card) so, odk directory maybe present in the internal storage or external storage depending on the default storage location settings.

[2017-12-16 02:08] #387 closed

[2017-12-16 12:26] ankita240796 commented on #13
@opendatakit-bot unclaim

[2017-12-16 13:28] ankita240796 commented on #381
I think it is a nice idea to add some additional toggle to open all collapsed sections of a list as well as for that of a page. It would nice for a user who wants to get a complete view with the details as it would need just one click to open all the collapsed sections.

[2017-12-16 14:06] ankita240796 commented on #362
It actually does look weird, the style should not be retained in the TOC.

[2017-12-16 15:59] ankita240796 commented on #5
@opendatakit-bot claim

[2017-12-17 10:07] ankita240796 commented on #5
@lognaturel I was working on this issue but I am having some doubts. Is there any source from where I can get some more info on this issue. :sweat_smile:

[2017-12-18 16:19] ankita240796 commented on #365
@opendatakit-bot claim

[2017-12-18 20:58] adammichaelwood opened #397 "Contributor Guide Updates"
Solidify and document decisions coming from [Docs Review](https://forum.opendatakit.org/t/re-organizing-the-docs/10527/15?u=adammichaelwood) and Collect Reorg (#361 )

[2017-12-18 21:00] adammichaelwood opened #398 "Aggregate Reorg"
Essentially, the same work I did on #361, for Aggregate